server:
  address: "tcp://0.0.0.0:{{ authelia_port }}"

log:
  level: info

authentication_backend:
  file:
    path: /config/users.yml

access_control:
  default_policy: deny
  rules:
    - domain: "*.{{ domain }}"
      policy: one_factor

session:
  name: authelia_session
  secret: "{{ vault_nginx_authelia_session_secret }}"
  domain: "{{ domain }}"

identity_validation:
  reset_password:
    jwt_secret: "{{ vault_nginx_authelia_jwt_secret }}"

storage:
  local:
    path: /data/db.sqlite3
  encryption_key: "{{ vault_nginx_authelia_storage_encryption_key }}"

notifier:
  filesystem:
    filename: /data/notification.txt
