[Definition]

actionban = /usr/local/bin/f2b-notifications.sh "<name>" "<ip>" "<logpath>" "{{ fail2ban_bantime }}" "<failures>" "<ipfailures>" "<ipjailfailures>"
actionunban =

[Init]
name = telegram
