networks:
  monitoring:
    external: true

services:
  loki:
    image: grafana/loki:latest
    restart: unless-stopped
    container_name: loki
    user: "10001:10001"
    command: -config.file=/etc/loki/loki.yml
    volumes:
      - "{{ stack_config_dir }}/loki.yml:/etc/loki/loki.yml"
      - "{{ loki_data_dir }}:/loki"
    ports:
      - "{{ localhost }}:{{ loki_port }}:{{ loki_port }}"
    networks:
      - monitoring

  promtail:
    image: grafana/promtail:latest
    restart: unless-stopped
    command: -config.file=/etc/promtail/promtail.yml
    volumes:
      - "{{ stack_config_dir }}/promtail.yml:/etc/promtail/promtail.yml"
      - /var/log:/var/log
      - /var/lib/docker/containers:/var/lib/docker/containers
      - /etc/machine-id:/etc/machine-id:ro
    networks:
      - monitoring
