server:
  http_listen_port: {{ promtail_port }}

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://{{ loki_container }}:{{ loki_port }}/loki/api/v1/push

scrape_configs:
{% for key, job in promtail_logs.items() %}
  - job_name: {{ job.name }}
    static_configs:
      - targets:
          - localhost
        labels:
          job: {{ job.name }}
          host: {{ inventory_hostname }}
          __path__: {{ job.path }}
{% if job.pipeline is defined and job.pipeline == 'nginx' %}
    pipeline_stages:
      - regex:
          expression: '^(?P<ip>\S+) - (?P<user>\S+) \[(?P<time>.+)\] "(?P<method>\S+) (?P<uri>\S+) (?P<protocol>[^"]+)" (?P<status>\d+) (?P<size>\d+) "(?P<referrer>[^"]*)" "(?P<agent>[^"]*)" (?P<request_time>\S+)'
      - labels:
          status:
          method:
      - geoip:
          db: "{{ container_geoip_plugin }}"
          source: ip
          db_type: city
{% endif %}
{% endfor %}
  - job_name: systemd
    journal:
      max_age: 24h
      labels:
        job: systemd
        host: {{ inventory_hostname }}
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: unit
