#!/bin/bash

get_id() {
  echo $(id "$1") | grep -oP "[[:alnum:]]+=[^]+\([^\)]+" | grep "$2" | grep -oP "[[:digit:]]+" ;
}

mount_android() {
  local NAME="$1"
  local IP="$2"
  local USER="$3"
  local SSH_KEY="$4"
  local MOUNTPOINT="$5"
  local TARGET="$6"

  local SSH_COMMAND="ssh -i $SSH_KEY -p {{ termux_port }}"

  if ping -c1 -W1 "$IP" >/dev/null 2>&1; then
    if ! mountpoint -q "$MOUNTPOINT"; then
      echo "[$NAME] detected. Mounting."
      /usr/bin/sshfs \
        -o ssh_command="$SSH_COMMAND" \
        -o allow_other \
        -o reconnect \
        -o uid=$(get_id {{ user }} uid) \
        -o gid=$(get_id {{ user }} gid) \
        -o umask=0022 \
        "$USER@$IP:$TARGET" \
        "$MOUNTPOINT"
    fi
  else
    if mountpoint -q "$MOUNTPOINT"; then
      echo "[$NAME] lost. Unmounting."
      fusermount -uz "$MOUNTPOINT"
    fi
  fi
}

while true; do

{% for device in android_sshfs_devices %}
  mount_android \
    "{{ device.name }}" \
    "{{ device.ip }}" \
    "{{ device.user }}" \
    "/home/{{ user }}/.ssh/{{ device.key }}" \
    "{{ device.mount }}" \
    "{{ device.path }}"

{% endfor %}
  sleep 3
done
