networks:
  monitoring:
    external: true

services:
  grafana:
    image: grafana/grafana:latest
    container_name: {{ docker.grafana.name }}
    restart: unless-stopped
    user: "{{ grafana_user }}:{{ grafana_user }}"
    ports:
      - "{{ localhost }}:{{ docker.grafana.port }}:{{ docker.grafana.port }}"
    environment:
      - GF_SERVER_ROOT_URL={{ nginx_hosts.grafana }}
      - GF_SERVER_SERVE_FROM_SUB_PATH=false
      - GF_SERVER_PROTOCOL=http
      - HTTP_PROXY=http://{{ docker.privoxy.name }}:{{ docker.privoxy.port }}
      - HTTPS_PROXY=http://{{ docker.privoxy.name }}:{{ docker.privoxy.port }}
      - NO_PROXY={{ docker.loki.name }},{{ docker.prometheus.name }},{{ localhost }},localhost
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST={{ smtp_host }}:{{ const_port.smtp }}
      - GF_SMTP_USER={{ vault_msmtp_user }}
      - GF_SMTP_PASSWORD={{ vault_msmtp_password }}
      - GF_SMTP_FROM_ADDRESS={{ vault_msmtp_user }}
      - GF_SMTP_FROM_NAME=Grafana
    volumes:
      - {{ grafana_data_dir }}:{{ grafana_container_data_dir }}
      - {{ grafana_provisioning_dir }}:{{ grafana_container_provisioning_dir }}
    networks:
      - monitoring

  privoxy:
    image: vimagick/privoxy
    container_name: {{ docker.privoxy.name }}
    restart: unless-stopped
    ports:
      - "{{ docker.privoxy.port }}:{{ docker.privoxy.port }}"
    volumes:
      - "{{ grafana_base_dir }}/privoxy.config:/etc/privoxy/config"
    networks:
      - monitoring
