return {

  -- https://www.lazyvim.org/plugins/lsp
  { "neovim/nvim-lspconfig",
    lazy = false,
    dependencies = {
      { "ms-jpq/coq_nvim", branch = "coq" },
      { "ms-jpq/coq.artifacts", branch = "artifacts" },
      -- Need to **configure separately**
      { 'ms-jpq/coq.thirdparty', branch = "3p" },
    },
    config = function()
      -- https://github.com/ms-jpq/coq_nvim#lazynvim
      local coq = require "coq"
{# coq.nvim: lsp_ensure_capabilities is a no-op in v2. neovim 0.12's vim.lsp.protocol.make_client_capabilities() already covers what v1 used to inject. Drop the wrapping call. #}
{# vim.lsp.config("{{ language_server }}", { coq.lsp_ensure_capabilities() }) #}
{% for language_server in mason_lspconfig | map(attribute='config') %}
      vim.lsp.config["{{ language_server }}"] = {}
{% endfor %}
{% for language_server in mason_lspconfig | map(attribute='config') %}
      vim.lsp.enable("{{ language_server }}")
{% endfor %}
    end
  },
 
  { "williamboman/mason.nvim",
    config = function()
      require("mason").setup()
    end
  },
  
  { "williamboman/mason-lspconfig.nvim",
    config = function()
      require("mason-lspconfig").setup({})
    end
  },

  -- https://github.com/saghen/blink.cmp -- https://www.lazyvim.org/extras/coding/blink
  { "hrsh7th/nvim-cmp",
    enabled = false,
    dependencies = {
      "hrsh7th/cmp-nvim-lsp",
      "hrsh7th/cmp-buffer",
      "hrsh7th/cmp-path",
    },
    config = function()
      local cmp = require("cmp")
      cmp.setup({
        mapping = cmp.mapping.preset.insert({
          ["<C-Space>"] = cmp.mapping.complete(), --keymap
          ["<CR>"] = cmp.mapping.confirm({ select = true }), --keymap
        }),
        sources = {
          { name = "nvim_lsp" },
          { name = "buffer" },
          { name = "path" },
          { name = "git" },
        },
      })
    end
  },

  { "stevearc/conform.nvim" }, --formatter
  -- https://github.com/mfussenegger/nvim-lint -- https://www.lazyvim.org/plugins/linting

}
