return {

  -- https://www.lazyvim.org/plugins/lsp
  {
    "neovim/nvim-lspconfig",
    lazy = false,
    config = function()
{% for language_server in mason_lspconfig | map(attribute='config') %}
      vim.lsp.config["{{ language_server }}"] = {}
{% endfor %}
{% for language_server in mason_lspconfig | map(attribute='config') %}
      vim.lsp.enable("{{ language_server }}")
{% endfor %}
    end
  },

  {
    "mason-org/mason-lspconfig.nvim",
    dependencies = {
      { "mason-org/mason.nvim", opts = {} },
    },
    config = function()
      require("mason-lspconfig").setup({
        ensure_installed = { {% for language_server in mason_lspconfig | map(attribute='config') %}"{{ language_server }}"{% if not loop.last %}, {% endif %}{% endfor %} },
      })
    end
  },

  {
    "ms-jpq/coq_nvim",
    branch = "coq",
    lazy = false,
    dependencies = {
      { "ms-jpq/coq.artifacts", branch = "artifacts" },
      { 'ms-jpq/coq.thirdparty', branch = "3p" },
    },
    config = function()
      -- https://github.com/ms-jpq/coq_nvim#lazynvim
      require("coq").setup({})
    end,
  },

  -- https://github.com/saghen/blink.cmp -- https://www.lazyvim.org/extras/coding/blink
  {
    "hrsh7th/nvim-cmp",
    enabled = false,
    dependencies = {
      "hrsh7th/cmp-nvim-lsp",
      "hrsh7th/cmp-buffer",
      "hrsh7th/cmp-path",
    },
    config = function()
      local cmp = require("cmp")
      cmp.setup({
        mapping = cmp.mapping.preset.insert({
          ["<C-Space>"] = cmp.mapping.complete(), --keymap
          ["<CR>"] = cmp.mapping.confirm({ select = true }), --keymap
        }),
        sources = {
          { name = "nvim_lsp" },
          { name = "buffer" },
          { name = "path" },
          { name = "git" },
        },
      })
    end
  },

  { "stevearc/conform.nvim" }, --formatter
  -- https://github.com/mfussenegger/nvim-lint -- https://www.lazyvim.org/plugins/linting

}
