{server,linux}/*/files/* text eol=lf
{server,linux}/*/files/*/* text eol=lf
{server,linux}/*/files/*/*/* text eol=lf
{server,linux}/*/templates/* text eol=lf
{server,linux}/*/templates/*/* text eol=lf
{server,linux}/*/templates/*/*/* text eol=lf