---
name: ban_asn_by_number
filters:
#{% if blacklist_asn_ids is integer %}
#  - Alert.Source.ASNumber == {{ blacklist_asn_ids }}
#{% elif blacklist_asn_ids|length == 1 %}
#  - Alert.Source.ASNumber == {{ blacklist_asn_ids | first }}
#{% else %}
#  - Alert.Source.ASNumber in [{{ blacklist_asn_ids | join(', ') }}]
#{% endif %}
  - Alert.Source.ASNumber in {{ blacklist_asn_ids }}
decisions:
  - type: ban
    duration_expr: Sprintf('%dh', (GetDecisionsCount(Alert.GetValue()) + 1) * {{ ban_duration_factor }})
notifications:
  - telegram
on_success: break