---
name: ban_countries
filters:
#{% if blacklist_countries is string %}
#  - Alert.Source.Country == "{{ blacklist_countries }}"
#{% elif blacklist_countries|length == 1 %}
#  - Alert.Source.Country == "{{ blacklist_countries | first }}"
#{% else %}
#  - Alert.Source.Country in ["{{ blacklist_countries | join('","') }}"]
#{% endif %}
  - Alert.Source.Country in {{ blacklist_countries }}
decisions:
  - type: ban
    duration_expr: Sprintf('%dh', (GetDecisionsCount(Alert.GetValue()) + 1) * {{ ban_duration_factor }})
notifications:
  - telegram
on_success: break