---
name: {{ item.key }}
filters:
{% if item.value.operator == "contains" %}
{% for val in item.value.vars %}
  - {{ remedation_filter }} && {{ item.value.field }} {{ item.value.operator }} {{ val | to_json }}
{% endfor %}
{% else %}
  - {{ remedation_filter }} && {{ item.value.field }} {{ item.value.operator }} {{ item.value.vars | to_json }}
{% endif %}
decisions:
  - type: ban
    duration: {{ item.value.duration }}
notifications:
  - telegram
on_success: break
