#may not be needed because of:
# community.docker.docker_container
# docker-container-watcher.service.j2
services:
  notifier:
    image: docker:cli
    container_name: sidecar-notifier
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ telegram_script }}:{{ container_telegram }}:ro
      - {{ docker_watcher_script }}:/watcher.sh:ro
    entrypoint: ["/bin/sh", "/watcher.sh"]
