# see https://docs.crowdsec.net/docs/next/local_api/notification_plugins/telegram/
type: http
name: telegram

log_level: info

#possibly put range meta inside of range events
format: |
  {
    "chat_id": "{{ vault_telegram_user_chat_id }}",
    "text": "
    {{ lookup('file', 'message.go') | indent(4) }}
    ",

    "reply_markup": {
    "inline_keyboard": [
    {{ lookup('file', 'links.go') | indent(4) }}
    ]
  }

url: https://api.telegram.org/bot{{ vault_telegram_alert_bot_token }}/sendMessage

method: POST
headers:
  Content-Type: "application/json"
