server:
  http_listen_port: {{ promtail_port }}

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: http://{{ docker.loki }}:{{ loki_port }}/loki/api/v1/push

scrape_configs:
{% for key, job in promtail_logs.items() %}
  - job_name: {{ job.name }}
    static_configs:
      - targets:
          - localhost
        labels:
          job: {{ job.name }}
          host: {{ inventory_hostname }}
          __path__: {{ job.path }}
{% if job.pipeline is defined %}
{% if job.pipeline == 'nginx_access' %}
    {{ lookup('template', '../roles/log_monitoring/templates/promtail/pipelines/nginx_access.yml.j2') | indent(4) }}
{% elif job.pipeline == 'nftables' %}
    {{ lookup('template', '../roles/log_monitoring/templates/promtail/pipelines/nftables.yml.j2') | indent(4) }}
{% elif job.pipeline == 'fail2ban_action' %}
    {{ lookup('template', '../roles/log_monitoring/templates/promtail/pipelines/fail2ban_action.yml.j2') | indent(4) }}
{% elif job.pipeline == 'fail2ban_log' %}
    {{ lookup('template', '../roles/log_monitoring/templates/promtail/pipelines/fail2ban_log.yml.j2') | indent(4) }}
{% elif job.pipeline == 'nginx_error' %}
    {{ lookup('template', '../roles/log_monitoring/templates/promtail/pipelines/nginx_error.yml.j2') | indent(4) }}
{% elif job.pipeline == 'telegram' %}
    {{ lookup('template', '../roles/log_monitoring/templates/promtail/pipelines/telegram.yml.j2') | indent(4) }}
{% endif %}
{% endif %}

{% endfor %}
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    relabel_configs:
{% for key, value in docker_relabel.items() %}
      - source_labels: ['{{ value.source }}']
        target_label: {{ value.target }}
{% endfor %}
    pipeline_stages:
      - docker: {}

  - job_name: systemd
    journal:
      max_age: 24h
      labels:
        job: systemd
        host: {{ inventory_hostname }}
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: unit
