server:
  http_listen_port: {{ promtail_port }}

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://{{ docker.loki }}:{{ loki_port }}/loki/api/v1/push

scrape_configs:
{% for key, job in promtail_logs.items() %}
  - job_name: {{ job.name }}
    static_configs:
      - targets:
          - localhost
        labels:
          job: {{ job.name }}
          host: {{ inventory_hostname }}
          __path__: {{ job.path }}
{% if job.pipeline is defined and job.pipeline == 'nginx' %}
    pipeline_stages:
      - regex:
          source: filename
          expression: '/var/log/nginx/(?P<vhost>[^_]+)_access.log'
      - labels:
          vhost:

      - regex:
          expression: '^(?P<ip>\S+) - (?P<user>\S+) \[(?P<time>.+)\] "(?P<method>\S+) (?P<uri>\S+) (?P<protocol>[^"]+)" (?P<status>\d+) (?P<size>\d+) "(?P<referrer>[^"]*)" "(?P<agent>[^"]*)" (?P<request_time>\S+)'
      - labels:
          status:
          method:
          uri:
          ip:
          agent:

      - template:
          source: uri
          template: {% raw %}'{{ regexReplaceAll "\\?.*" .Value "" }}'
{% endraw %}

      - template:
          source: request_time
          template: {% raw %}'{{ .Value }}'
{% endraw %}

      - geoip:
          db: {{ container_geoip_plugin }}
          source: ip
          db_type: city
      - labeldrop:
{% for label in geoip_labeldrop %}
          - {{ label }}
{% endfor %}
      - labels:
          geoip_country_name:
{% endif %}

{% endfor %}

  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    relabel_configs:
{% for key, value in docker_relabel.items() %}
      - source_labels: ['{{ value.source }}']
        target_label: {{ value.target }}
{% endfor %}
    pipeline_stages:
      - docker: {}

  - job_name: systemd
    journal:
      max_age: 24h
      labels:
        job: systemd
        host: {{ inventory_hostname }}
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: unit

  - job_name: nftables
    static_configs:
      - targets:
          - localhost
        labels:
          job: nftables
          __path__: {{ nftlog }}
    pipeline_stages:
      - match:
          selector: '{job="nftables"}'
          stages:
            - regex:
                expression: '{% for label in nftlog_prefix_labels %}{{ label }}=(?P<{{ label }}>\w+){% if not loop.last %} {% endif %}{% endfor %}'
{% for label in nftlog_labels %}
            - regex:
                expression: '{{ label }}=(?P<{{ label | lower }}>\S+)'
{% endfor %}
{% for key, value in nftlog_relabels.items() %}
            - regex:
                expression: '{{ value.regex }}=(?P<{{ value.label }}>\S+)'
{% endfor %}
            - labels:
{% for label in nftlog_prefix_labels %}
                {{ label }}:
{% endfor %}
{% for label in nftlog_labels %}
                {{ label | lower }}:
{% endfor %}
{% for key, value in nftlog_relabels.items() %}
                {{ value.label }}:
{% endfor %}
            - geoip:
                db: {{ container_geoip_plugin }}
                source: src
                db_type: city
            - labeldrop:
{% for label in geoip_labeldrop %}
                - {{ label }}
{% endfor %}
            - labels:
                geoip_country_name:
