networks:
  monitoring:
    external: true

services:
  promtail:
    image: grafana/promtail:{{ promtail_version }}
    container_name: {{ docker.promtail }}
    restart: unless-stopped
    user: root
    command: -config.file=/etc/promtail/promtail.yml
    volumes:
      - "{{ promtail_dir }}/promtail.yml:/etc/promtail/promtail.yml"
      - /var/log:/var/log
      - /var/lib/docker/containers:/var/lib/docker/containers
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/machine-id:/etc/machine-id:ro
      - /run/systemd/journal:/run/systemd/journal:ro
      - "{{ geoip_plugin }}:{{ container_geoip_plugin }}"
    networks:
      - monitoring
