[Unit]
Description=SSH Success Login Watcher
After=network.target

[Service]
ExecStart=/usr/local/bin/ssh_success_watcher.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target

