[Unit]
Description=Send Telegram notification on shutdown before mihomo proxy container stops
DefaultDependencies=no
Before=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/telegram.sh "🔴 nuc-server shutting down with docker" status "$0"

[Install]
WantedBy=multi-user.target
