[Unit]
Description=WireGuard Telegram Notifier
After=network.target

[Service]
ExecStart=/usr/local/bin/scripts/vpn-success-watcher.sh
Restart=always

[Install]
WantedBy=multi-user.target
