#!/bin/bash
[[ -z {{ container_notifications_log }} ]] && touch {{ container_notifications_log }}

docker ps \
{% raw %}  --format '{{.Names}} {{.Status}}' | \
{% endraw %}
while read name status; do
  echo "$(date --rfc-3339=seconds) snapshot $name $status" >> {{ container_notifications_log }}
  {{ telegram_script }} "🟢 $(hostname) container $name status: $status (snapshot)" status "$0"
done

while true; do

docker events \
  --filter type=container \
  --filter event=start \
  --filter event=die \
  --filter event=stop \
{% raw %}  --format '{{.Type}} {{.Action}} {{.Actor.Attributes.name}}' | \
{% endraw %}
while read event action name; do
  case "$action" in
    start)
      {{ telegram_script }} "🟢 $(hostname) container $name status: $action" status "$0"
      ;;
    die|stop)
      {{ telegram_script }} "🔴 $(hostname) container $name status: $action" status "$0"
      ;;
  esac
  echo "$(date --rfc-3339=seconds) $event $name $action" >> {{ container_notifications_log }}
done

echo "docker events stream ended"
sleep 2
done
