#!/bin/bash
[[ -z {{ container_notifications_log }} ]] && touch {{ container_notifications_log }}

docker ps \
{% raw %}  --format '{{.Names}} {{.Status}}' | \
{% endraw %}
while read name status; do
  if [[ "$status" == Up* ]]; then
    {{ telegram_script }} "🟢 $(hostname) container $name status: running (snapshot)" status "$0"
  else
    {{ telegram_script }} "🟡 $(hostname) container $name status: $status (snapshot)" status "$0"
  fi
  echo "$(date --rfc-3339=seconds) snapshot $name $status" >> {{ container_notifications_log }}
done

while true; do

docker events \
  --filter type=container \
  --filter event=start \
  --filter event=die \
{% raw %}  --format '{{.Type}} {{.Action}} {{.Actor.Attributes.name}}' | \
{% endraw %}
while read event action name; do
  if [[ "$action" == start ]]; then
    {{ telegram_script }} "🟢 $(hostname) container $name status: started" status "$0"
  elif [[ "$action" == die ]]; then
    {{ telegram_script }} "🔴 $(hostname) container $name status: stopped" status "$0"
  fi
  echo "$(date --rfc-3339=seconds) $event $name $action" >> {{ container_notifications_log }}
done

echo "docker events stream ended"
sleep 2
done
