#!/bin/bash
. {{ watcher_scripts_includes }}/geo-get-json.sh
jail_name="$1"
banned_ip="$2"
logpath="$3"
bantime="$4"
failures="$5"
ipfailures="$6"
ipjailfailures="$7"

loglines=20
if grep -m $loglines -awF $banned_ip {{ f2b_log }} | grep -aE "Restore Ban|already banned"; then exit 0; fi

BANTIME=" $(date -d@$bantime -u +%_H | sed 's/\ //') hours"
(( $bantime >= 86400 )) && BANTIME=" $(date -d@$bantime -u +%_d | sed 's/\ //') days"
(( $bantime >= 2678400 )) && BANTIME=" $(date -d@$bantime -u +%_d | sed 's/\ //') months"
[[ "$BANTIME" =~ ^\ 1\ (hours|days|months)$ ]] && BANTIME=${BANTIME%s}
(( $bantime == -1 )) && BANTIME="ever"

logtext="$(grep -m $loglines -awF $banned_ip $logpath | tail -n $loglines)"
{% raw %}loglength=${#logtext}{% endraw %}

MESSAGE="[Fail2Ban] <b>$jail_name</b>: banned <code>$banned_ip</code> from $(hostname) for<b>$BANTIME</b>
failures: $failures | ipfailures: $ipfailures | ipjailfailures: $ipjailfailures
<pre>$(get_ip_geo $banned_ip | jq)</pre>
logpath: <code>$logpath</code>"

if (( loglength > 3500 )); then
MESSAGE+="
posted without log because of log length: $loglength>3500, so this message does not fit into 4096 symbols restriction"
else
MESSAGE+="<pre>$logtext</pre>"
fi

{{ telegram_script }} "$MESSAGE" alert "$0" &
disown
