#!/bin/bash

declare -A last_state

services=(
{% for service in service_state %}
  "{{ service }}"
{% endfor %}
)

[[ -z {{ custom_logs.services }} ]] && touch {{ custom_logs.services }}

post_and_log() {
  if [[ "$1" == "active" ]]; then
    {{ telegram_script }} "🟢 $(hostname) service $s status: $1" status "$0"
  elif [[ "$1" == "activating" ]]; then
    {{ telegram_script }} "🟡 $(hostname) service $s status: $1" status "$0"
  else
    {{ telegram_script }} "🔴 $(hostname) service $s status: $1" status "$0"
  fi
  echo "$(date --rfc-3339=seconds) service $s $1" >> {{ custom_logs.services }}
}

for s in "${services[@]}"; do
  state=$(systemctl is-active "$s")
  post_and_log "$state"
  last_state[$s]="$state"
done

while true; do
  for s in "${services[@]}"; do
    state=$(systemctl is-active "$s")
    if [[ "${last_state[$s]}" != "$state" ]]; then
      post_and_log "$state"
      last_state[$s]="$state"
    fi
  done
  sleep 15
done
