#!/bin/bash
. {{ watcher_scripts_includes }}/geo-include.sh

declare -A new_handshake
declare -A connected
disconnect_timeout=$(( {{ wireguard_keepalive }} * 5 + 1 ))
[[ ! -f {{ custom_logs.wireguard.connect }} ]] && touch {{ custom_logs.wireguard.connect }}
[[ ! -f {{ custom_logs.wireguard.disconnect }} ]] && touch {{ custom_logs.wireguard.disconnect }}

while true; do
while read -r PUBKEY PSK ENDPOINT ALLOWED EPOCH RX TX KEEPALIVE; do

  ip="${ENDPOINT%:*}"
  port="${ENDPOINT#*:}"
  vpn_ip="${ALLOWED%%/*}"
  device_name="${vpn_peer_names[$PUBKEY]}"
  logline="$(jq -nc \
{% for jq, value in vpn_watcher_labels.items() %}
    {% if value.json is defined %}--argjson{% else %}--arg{% endif %} {{ jq }} "${{ value.bash }}" \
{% endfor %}
    '{
{% for json, value in vpn_watcher_labels.items() %}
      {{ json }}:${{ json }}{% if not loop.last %},
{% endif %}
{% endfor %}

    }'
  )"

  logshow="$(jq -r 'del(.geoip)' <<< "$logline")"
  logscript() { echo "${{ customlog_dateformat }} $device_name $1" >> {{ custom_logs.wireguard.watcher }}; }

  currenttime=$(date +%s)
  lastconnection="$(grep "$PUBKEY" {{ custom_logs.wireguard.disconnect }} | tail -n1 | jq -cr .epoch)"

  logscript "begin cycle: new_handshake = ${new_handshake[$PUBKEY]}"
  if [[ "$EPOCH" == "0" ]]; then
    new_handshake[$PUBKEY]=true
    continue
  elif [[ "$EPOCH" == "$lastconnection" ]]; then
    new_handshake[$PUBKEY]=true
    logscript "preccondition continue. LOG: $EPOCH == $lastconnection, new_handshake := ${new_handshake[$PUBKEY]}"
    continue
  fi

  if [[ "${new_handshake[$PUBKEY]}" == "true" ]] && (( EPOCH > lastconnection )); then

    logscript "entered connect condition. epoch = $EPOCH, lastconnection = $lastconnection"

    common_message_init VPN "$PUBKEY" "$device_name"
    generate_geo_message "$ip" "{{ custom_logs.wireguard.connect }}" "$PUBKEY" "$device_name" "$vpn_ip" "$logshow"
    echo "$logline" >> {{ custom_logs.wireguard.connect }}

    connected[$PUBKEY]=true
    new_handshake[$PUBKEY]=false

  elif (( currenttime - EPOCH > disconnect_timeout )); then

    logscript "entered disconnect condition. diff = $((currenttime - EPOCH)), epoch = $EPOCH"
    logscript "   connected status before = ${connected[$PUBKEY]}"
    if [[ -z "${connected[$PUBKEY]}" ]]; then
      ping -q -c1 -W1 $vpn_ip
      pingstatus=$?
      logscript "   ping status = $pingstatus"
      [[ "$pingstatus" == 0 ]] && connected[$PUBKEY]=true || connected[$PUBKEY]=false
    fi
    
    if [[ "${connected[$PUBKEY]}" == "false" ]]; then
      disconnect_message_init VPN "$PUBKEY" "$device_name"
      generate_geo_message "$ip" "{{ custom_logs.wireguard.disconnect }}" "$PUBKEY" "$device_name" "$vpn_ip" "$logshow"
      echo "$logline" >> {{ custom_logs.wireguard.disconnect }}

      new_handshake[$PUBKEY]=true
      logscript "disconnect. connected = ${connected[$PUBKEY]}, new_handshake := ${new_handshake[$PUBKEY]}"
    else
      logscript "disconnect. continue. connected = ${connected[$PUBKEY]}"
      continue
    fi

  else
    logscript "main condition: else. continue:"
    logscript "   diff = $(( currenttime - EPOCH )). epoch = $EPOCH, lastconnection = $lastconnection"
    continue
  fi

  logscript "end cycle. send message: connected = ${connected[$PUBKEY]}, new_handshake = ${new_handshake[$PUBKEY]}"
  {{ telegram_script }} "$MESSAGE" status "$0"

done < <(wg show {{ wireguard_interface }} dump | tail -n +2)

sleep {{ wireguard_keepalive }}
done
