vim.filetype.add({
  pattern = {
{% for filetype, paths in luaconfig_filetypes.items() %}{% for path in paths %}
    ["{{ path 
         | regex_replace('-','%-')
         | regex_replace('\.','%.')
         | regex_replace('%\.\*','.*')
      }}"] = { "{{ filetype }}"{% if filetype in ['nginx'] %}, { priority = 10 }{% endif %} },
{% endfor %}{% endfor %}
  }
})