flush ruleset

table inet filter {

{% for key, set in inet_filter_sets.items() %}
    set {{ key }} {
{% for key, value in set.items() %}
{% if value is string %}
        {{ key }} {{ value }}
{% else %}
        {{ key }} {{ value | join(',') }}
{% endif %}
{% endfor %}
    }
{% endfor %}

    chain input {
        type filter hook input priority 0;
        policy drop;

        ct state established,related accept
        iif lo accept

        ip saddr @whitelist accept
{% for key, set in inet_filter_sets.items() if key != "whitelist" %}
        ip saddr @{{ key }} drop
{% endfor %}
{% for port in monitoring_exporter_ports %}
        ip saddr {{ docker_monitoring_network }} tcp dport {{ port }} accept
{% endfor %}

        tcp dport {{ sshd_port }} ct state new limit rate 10/minute burst 20 packets accept
{% for port in firewall_tcp_ports %}{% if port != sshd_port %}
        tcp dport {{ port }} accept
{% endif %}{% endfor %}

{% for port in firewall_udp_ports %}
        udp dport {{ port }} accept
{% endfor %}

        iif "{{ wireguard_interface }}" accept
        iif "{{ lan_interface }}" tcp dport { {{ firewall_lan_tcp_ports | join(', ') }} } accept
        iif "{{ lan_interface }}" udp dport { {{ firewall_lan_udp_ports | join(', ') }} } accept

        limit rate 5/minute log prefix "nft-input-drop: " flags all counter drop
    }

    chain forward {
        type filter hook forward priority 0;
        policy drop;

        ct state established,related accept

        iifname "docker*" accept
        oifname "docker*" accept

        iif "{{ wireguard_interface }}" oif "{{ lan_interface }}" accept
        iif "{{ wireguard_interface }}" oif "{{ wireguard_interface }}" accept

{% for allowed in nginx_allowed %}
{% for site in nginx_sni %}
        ip daddr {{ site.host }} tcp dport {{ site.port }} ip saddr {{ allowed }} accept
{% endfor %}
{% endfor %}
{% for site in nginx_sni %}
        ip daddr {{ site.host }} tcp dport {{ site.port }} drop
{% endfor %}

    }

    chain output {
        type filter hook output priority 0;
        policy accept;
    }
}

table ip nat {
    chain postrouting {
        type nat hook postrouting priority 100;
        oifname "{{ lan_interface }}" ip saddr {{ wireguard_network }} masquerade
    }
}
