pipeline_stages:
  - json:
      expressions:
{% for json, value in docker_upd_fields.items() %}
        {{ json }}:
{% endfor %}
  - labels:
{% for json, value in docker_upd_fields.items() if value.label is defined %}
      {{ json }}:
{% endfor %}