pipeline_stages:
  - regex:
      expression: '{% for label in nftlog_prefix_labels %}{{ label }}=(?P<{{ label }}>\w+){% if not loop.last %} {% endif %}{% endfor %}'
{% for label in nftlog_labels %}
  - regex:
      expression: ' {{ label }}=(?P<{{ label | lower }}>\S+)'
{% endfor %}
{% for key, value in nftlog_relabels.items() %}
  - regex:
      expression: ' {{ value.regex }}=(?P<{{ value.label }}>\S+)'
{% endfor %}
  - labels:
{% for label in nftlog_prefix_labels %}
      {{ label }}:
{% endfor %}
{% for label in nftlog_labels %}
      {{ label | lower }}:
{% endfor %}
{% for key, value in nftlog_relabels.items() %}
      {{ value.label }}:
{% endfor %}
  - geoip:
      db: {{ container_geoip_plugin }}
      source: saddr
      db_type: city
  - labeldrop:
{% for label in geoip_labeldrop %}
      - {{ label }}
{% endfor %}
  - labels:
      geoip_country_name: