defaults
auth           on
tls            on
tls_starttls   on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
syslog         on

account {{ smtp_account }}
host {{ smtp_host }}
port {{ smtp_port }}
from {{ vault_msmtp_user }}
user {{ vault_msmtp_user }}
password {{ vault_msmtp_password }}

account default : {{ smtp_account }}
