pipeline_stages:
  - regex:
      expression: '^type=(?P<type>\w+)'
{% for key, value in auditd_labels.items() %}
{% for label in value if key == 'quoted' %}
  - regex:
      expression: ' {{ label }}="(?P<{{ label }}>[^"]+)"'
{% endfor %}
{% for label in value if key == 'digital' %}
  - regex:
      expression: ' {{ label }}=(?P<{{ label }}>\d+\.\d+\.\d+\.\d+)'
{% endfor %}
{% endfor %}
  - labels:
      type:
{% for key, value in auditd_labels.items() %}{% for label in value %}
      {{ label }}:
{% endfor %}{% endfor %}