pipeline_stages:
  - json:
      expressions:
{% for json, value in vpn_watcher_labels.items() %}
        {{ json }}:
{% endfor %}
  - labels:
{% for json, value in vpn_watcher_labels.items() if value.label is defined %}
      {{ json }}:
{% endfor %}
  - json:
      expressions:
{% for label, value in vpn_watcher_geoip_labels.items() %}
        {{ label }}: {{ value.json }}
{% endfor %}
  - labels:
{% for label in vpn_watcher_geoip_labels | dict2items %}
      {{ label.key }}:
{% endfor %}