networks:
  monitoring:
    external: true

services:
  node_exporter:
    image: prom/node-exporter:latest
    container_name: {{ docker.metric_exporters.node }}
    restart: unless-stopped
    volumes:
      - /:/host:ro,rslave
    command:
      - '--path.rootfs=/host'
    networks:
      - monitoring

  wireguard_exporter:
    image: mindflavor/prometheus-wireguard-exporter:latest
    container_name: {{ docker.metric_exporters.wireguard }}
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    network_mode: host
    privileged: true
    pid: host
    user: root
    command:
      - --prepend_sudo=false
    environment:
      - PROMETHEUS_WIREGUARD_EXPORTER_CONFIG_FILE=/etc/wireguard/{{ wireguard_interface }}.conf
    volumes:
      - /etc/wireguard:/etc/wireguard:ro

  fail2ban_exporter:
    image: registry.gitlab.com/hctrdev/fail2ban-prometheus-exporter:latest
    container_name: {{ docker.metric_exporters.fail2ban }}
    restart: unless-stopped
    volumes:
      - /var/run/fail2ban/:/var/run/fail2ban:ro
    ports:
      - "{{ fail2ban_exporter_port }}:{{ fail2ban_exporter_port }}"
    networks:
      - monitoring

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: {{ docker.metric_exporters.cadvisor }}
    restart: unless-stopped
    privileged: true
    devices:
      - /dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
    command:
      - '--docker_only=true'
      - '--store_container_labels=false'
    networks:
      - monitoring

  smartctl_exporter:
    image: prometheuscommunity/smartctl-exporter:latest
    container_name: {{ docker.metric_exporters.smartctl }}
    restart: unless-stopped
    privileged: true
    user: root
    volumes:
      - /dev:/dev
    command:
      - '--smartctl.path=/usr/sbin/smartctl'
      - '--smartctl.device=/dev/sda'
      #- '--smartctl.device=/dev/sdb;sat' #usb
    networks:
      - monitoring

  snmp_exporter:
    image: prom/snmp-exporter:latest
    container_name: {{ docker.metric_exporters.snmp }}
    restart: unless-stopped
    volumes:
      - "{{ exporters_dir }}/snmp.yml:/etc/snmp_exporter/snmp.yml"
    network_mode: host

  blackbox_exporter:
    image: prom/blackbox-exporter:latest
    container_name: {{ docker.metric_exporters.blackbox }}
    restart: unless-stopped
    ports:
      - "{{ blackbox_port }}:{{ blackbox_port }}"
    volumes:
      - "{{ exporters_dir }}/blackbox.yml:/etc/blackbox_exporter/config.yml"
    networks:
      - monitoring
