server {

    listen {{ https_port }} ssl;

    server_name {{ item.server_name }};

    if ($bad_bot) {
        return 444;
    }

    if ($block_request) {
        return 444;
    }

    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-XSS-Protection "1; mode=block" always;
    add_header Referrer-Policy "strict-origin-when-cross-origin" always;
    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" always;

    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;

    access_log /var/log/nginx/{{ item.server_name }}_access.log main;

{% if item.public %}
    root {{ item.root | default('/var/www/html') }};
{% if item.root | default('/var/www/html') == '/var/www/html' %}
    index index.nginx-debian.html;
{% else %}
    index {{ item.index }};
{% endif %}

    location / {
        limit_req zone=global burst=20 nodelay;
    }
{% else %}
{% for port in nginx_allowed %}
    allow {{ port }};
{% endfor %}
    allow {{ localhost }};
    deny all;

{% if nginx_authentication == 'oauth' %}
    #verification endpoint for auth_request
    location = /oauth2/auth {
        internal;
        proxy_pass {{ item.proto }}://{{ localhost }}:{{ oauthproxy_port }}/oauth2/auth;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Auth-Request-Redirect $scheme://$http_host$request_uri;
    }
{% if item.server_name == 'auth.' ~ domain %}
    #authentication ui
    location / {
        proxy_pass {{ item.proto }}://{{ localhost }}:{{ oauthproxy_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Proto https;
    }
{% endif %}
{% elif nginx_authentication == 'authelia' %}
    #verification endpoint for auth_request
    location = /api/verify {
        internal;
        proxy_pass {{ item.proto }}://{{ localhost }}:{{ authelia_port }}/api/verify;
        proxy_set_header Host $host;
        proxy_set_header X-Original-URL $scheme://$http_host$request_uri;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
{% if item.server_name == 'auth.' ~ domain %}
    #authentication ui
    location / {
        proxy_pass {{ item.proto }}://{{ localhost }}:{{ authelia_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
{% endif %}

{% endif %}
{% if item.server_name != 'auth.' ~ domain %}
    location / {

{% if item.authentication %}
{% if nginx_authentication == 'basic_auth' %}
        auth_basic "Restricted";
        auth_basic_user_file {{ nginx_basic_auth_path }};
{% elif nginx_authentication == 'oauth' %}
        auth_request /oauth2/auth;
        error_page 401 = https://auth.{{ domain }}/oauth2/sign_in;
{% elif nginx_authentication == 'authelia' %}
        auth_request /api/verify;
        #error_page 401 =302 https://auth.{{ domain }}/?rd=$request_uri;
        error_page 401 =302 https://auth.{{ domain }}/?rd=$scheme://$http_host$request_uri;
{% endif %}

{% endif %}
        proxy_pass {{ item.proto }}://{{ localhost }}:{{ item.port }};

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
{% if item.server_name == 'cockpit.' ~ domain %}
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
{% elif item.proto == 'http' %}
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # for websocket (e.g. alerting)
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
{% endif %}

        proxy_ssl_verify off;

    }
{% endif %}
{% endif %}

}
