[Unit]
Description=Docker Container Status Telegram Notifier
After=docker.service network.target
Requires=docker.service

[Service]
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/bin/bash {{ docker_watcher_script }}
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
