[Service]
ExecStartPre=
ExecStartPre=/bin/bash -c 'systemctl daemon-reload'

ExecStartPost=
ExecStartPost=/bin/bash -c '{{ nc_retry_command }} {{ telegram_script }} "🟢 {{ item }} service started" status "$0"'

ExecStopPost=
ExecStopPost=/bin/bash -c '{{ telegram_script }} "🔴 {{ item }} service stopped" status "$0"'
