services:
  mihomo:
    image: metacubex/mihomo:latest
    container_name: {{ docker.mihomo.name }}
    restart: unless-stopped
    volumes:
      - "{{ clash_config_dir }}:/root/.config/mihomo"
    healthcheck:
      test: ["CMD", "nc", "-z", "{{ localhost }}", "{{ docker.mihomo.port.socks5 }}"]
      interval: 10s
      timeout: 5s
      retries: 5
    network_mode: host
    stop_grace_period: 30s

{% if mihomo_interface.name == 'yacd' %}
  {{ mihomo_interface.name }}:
    image: haishanh/yacd
    container_name: {{ docker.mihomo_dashboard.name }}
    restart: unless-stopped
    ports:
      - "{{ docker.mihomo_dashboard.port }}:{{ http_port }}"
    environment:
      - BACKEND={{ nginx_hosts.mihomo }}
{% elif mihomo_interface.name == 'metacubexd' %}
  {{ mihomo_interface.name }}:
    image: ghcr.io/metacubex/metacubexd:latest
    container_name: {{ docker.mihomo_dashboard.name }}
    restart: unless-stopped
    ports:
      - "{{ docker.mihomo_dashboard.port }}:{{ http_port }}"
    environment:
      - DEFAULT_BACKEND_URL={{ nginx_hosts.mihomo }}
{% endif %}
