{%- set device = [] -%}
{%- if ansible_env.COMPUTERNAME == "DESKTOP-2MJ0UCN" -%}
  {%- set device = 'honor' -%}
{%- elif ansible_env.COMPUTERNAME == "DESKTOP-5EFI5KM" -%}
  {%- set device = 'asus' -%}
{% endif %}
-- Pull in the wezterm API
local wezterm = require 'wezterm'

-- This will hold the configuration.
-- local config = wezterm.config_builder()
local config = {}
config.initial_cols = 120
config.initial_rows = 28
config.font_size = 10
config.font = wezterm.font 'JetBrains Mono'
-- config.default_prog = { 'ssh', 'nuc' }
config.default_prog = { 'wsl'
{%- if device == 'asus' -%}, '--cd', '/mnt/d/s21'{%- endif %} }
-- config.default_prog = { 'powershell.exe' }
config.color_scheme = '
{%- if device == 'honor' -%}
NightLion v1
{%- elif device == 'asus' -%}
Konsolas
{%- endif -%}'
-- config.color_scheme = 'Orangish (terminal.sexy)'
-- config.color_scheme = 'Konsolas'
-- config.color_scheme = 'Seti'
-- config.color_scheme = 'Hurtado'
-- config.color_scheme = 'NightLion v1'
-- config.color_scheme = 'Red Alert'
config.colors = {
  cursor_bg = 'white',
  selection_bg = '#fffacd',
  selection_fg = 'black',
}
local act = wezterm.action
config.keys = {
  { key = 'v', mods = 'CTRL', action = act.PasteFrom 'Clipboard' },
  { key = 'v', mods = 'CTRL', action = act.PasteFrom 'PrimarySelection' },
  { key = 'z', mods = 'CTRL', action = act.DisableDefaultAssignment },
  { key = 'PageUp', mods = 'CTRL', action = act.DisableDefaultAssignment },
  { key = 'PageDown', mods = 'CTRL', action = act.DisableDefaultAssignment },
}

-- Finally, return the configuration to wezterm:
return config
