local wezterm = require 'wezterm'
local act = wezterm.action
local config = {
{% for key, value in whost.items() %}{% if ansible_facts.env.COMPUTERNAME == value.name %}
{% if key == 'asus' %}
  default_prog = { 'wsl', '--cd', '/mnt/d/s21' },
  color_scheme = 'Hurtado',
  launch_menu = {
    {
      label = 'New Tab (domain `Windows PowerShell`)',
      args = { 'powershell.exe' },
    },
    {
      label = 'New Tab (domain `PowerShell 7`)',
      args = { 'pwsh.exe' },
    },
  },
{% elif key == 'honor' %}
  default_prog = { 'powershell.exe' },
  color_scheme = 'Hurtado',
{% endif %}
{% endif %}{% endfor %}
  wezterm.on('gui-startup', function(cmd)
    local tab, pane, window = wezterm.mux.spawn_window(cmd or {})
    window:gui_window():maximize()
  end),
  tab_bar_at_bottom = true,
  use_fancy_tab_bar = false,
  font_size = 10,
  font = wezterm.font {
    family = 'JetBrains Mono',
    weight = 'Medium',
  },
  colors = {
    cursor_bg = 'white',
    selection_bg = '#fffacd',
    selection_fg = 'black',
  },
  keys = {
    { key = 'v', mods = 'CTRL', action = act.PasteFrom 'Clipboard' },
    { key = 'v', mods = 'CTRL', action = act.PasteFrom 'PrimarySelection' },
    { key = 't', mods = 'ALT', action = act.ShowLauncher },
    { key = 'q', mods = 'CTRL|SHIFT', action = act.CloseCurrentPane { confirm = true } },
    { key = 'z', mods = 'CTRL', action = act.DisableDefaultAssignment },
    { key = 'PageUp', mods = 'CTRL', action = act.DisableDefaultAssignment },
    { key = 'PageDown', mods = 'CTRL', action = act.DisableDefaultAssignment },
    { key = 'd', mods = 'CTRL', action = act.Nop },
  },
}

{% for plugin in wezterm_modules %}
local {{ plugin }} = require '{{ plugin }}'
{% endfor %}
{% for plugin in wezterm_modules %}
{{ plugin }}.applyconfig(config)
{% endfor %}

wezterm.plugin.update_all()
return config
