local wezterm = require 'wezterm'
local act = wezterm.action
local config = {
{% for key, value in whost.items() %}{% if ansible_env.COMPUTERNAME == value.name %}
{% if key == 'asus' %}
  default_prog = { 'wsl', '--cd', '/mnt/d/s21' },
  color_scheme = 'Hurtado',
{% elif key == 'honor' %}
  default_prog = { 'powershell.exe' },
  color_scheme = 'Hurtado',
{% endif %}
{% endif %}{% endfor %}
  initial_cols = 120,
  initial_rows = 32,
  font_size = 10,
  font = wezterm.font {
    family = 'JetBrains Mono',
    weight = 'Medium',
  },
  colors = {
    cursor_bg = 'white',
    selection_bg = '#fffacd',
    selection_fg = 'black',
  },
  keys = {
    { key = 'v', mods = 'CTRL', action = act.PasteFrom 'Clipboard' },
    { key = 'v', mods = 'CTRL', action = act.PasteFrom 'PrimarySelection' },
    { key = 'z', mods = 'CTRL', action = act.DisableDefaultAssignment },
    { key = 'PageUp', mods = 'CTRL', action = act.DisableDefaultAssignment },
    { key = 'PageDown', mods = 'CTRL', action = act.DisableDefaultAssignment },
    { key = 'l', mods = 'ALT', action = act.ShowLauncher },
  },
}
-- config.default_prog = { 'ssh', 'nuc' }
-- config.color_scheme = 'Orangish (terminal.sexy)'
-- config.color_scheme = 'Hurtado'
-- config.color_scheme = 'NightLion v1'
-- config.color_scheme = 'Red Alert'
-- { key = 'RightArrow', mods = 'OPT', action = act.SendKey { key = 'f', mods = 'ALT' }, },
-- Finally, return the configuration to wezterm:
return config
