[Service]
ExecStartPost=
ExecStartPost=/bin/bash -c '/usr/local/bin/telegram.sh "🟢 fail2ban service started" status "$0"'

ExecStopPost=
ExecStopPost=/bin/bash -c '/usr/local/bin/telegram.sh "🔴 fail2ban service stopped" status "$0"'
