#!/bin/bash

jail_name="$1"
banned_ip="$2"
logpath="$3"
failures="$4"
ipfailures="$5"
ipjailfailures="$6"

grep -m 20 -wF $banned_ip $logpath | grep "Restore Ban" | return

MESSAGE="[Fail2Ban] <b>$jail_name</b>: banned $banned_ip from $(hostname)
failures: $failures / ipfailures: $ipfailures / ipjailfailures: $ipjailfailures
<pre>$(curl -s http://ip-api.com/json/$banned_ip | jq)</pre>
<pre>$(grep -m 20 -wF $banned_ip $logpath | grep -v " sudo: " | tail -n 20)</pre>"

/usr/local/bin/tgbot_notify.sh "$MESSAGE"