#!/bin/bash
. /usr/local/bin/get-ip-geo.sh

journalctl -fu ssh.service -fu sshd.service | while read line; do

if echo "$line" | grep -q "Accepted "; then
ip=$(echo "$line" | grep -oP '(?<=from )([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)')
MESSAGE="🔐 SSH LOGIN SUCCESS
journalctl: <pre>$(echo ${line})</pre>"

if [[ "$ip" != "{{ home_ip }}" ]]; then
MESSAGE+="geoip: <pre>$(echo $(get_ip_geo $ip) | jq)</pre>"
fi

/usr/local/bin/telegram.sh "$MESSAGE" status "$0"
fi

done
