#!/bin/bash

TYPE=$2
if [[ "$TYPE" == alert ]]; then
  TOKEN="{{ vault_telegram_alert_bot_token }}"
elif [[ "$TYPE" == status ]]; then
  TOKEN="{{ vault_telegram_status_bot_token }}"
else
  echo "usage: $(basename $0) \"message\" alert|status \"\$0\""
  exit 1
fi

CALLER="$3"

PARSE_MODE=$4
[[ -z "$4" ]] && PARSE_MODE=HTML

if [[ "$PARSE_MODE" == HTML ]]; then
MESSAGE=$(
  printf "%s" "$1"
)
elif [[ "$PARSE_MODE" == Markdown* ]]; then
MESSAGE=$(
  printf "$1" | \
  sed 's/[_*[\]()~`>#+-=|{}.!]/\\&/g'
)
fi

MAX_RETRIES=15
RETRY_DELAY=2

addline() {
  [[ ! -f "$2" ]] && touch $2
  echo "$1" >> $2
}

#    --verbose \
#    --write-out "%{json}\n" \
for ((i=1; i<=MAX_RETRIES; i++)); do
  response="$(curl \
    --show-error \
    --proxy "socks5h://{{ localhost }}:{{ socks5_port }}" \
    --request POST "https://api.telegram.org/bot$TOKEN/sendMessage" \
    --data chat_id="{{ vault_telegram_user_chat_id }}" \
    --data text="${MESSAGE}" \
    --data parse_mode="$PARSE_MODE"
  )"

  response_ok="$(echo "$response" | jq -r .ok)"
  jq -e . >/dev/null 2>&1 <<< "$response"
  if (( $? != 0 )); then
    echo "$(jq -e . <<< "$response")"
    response="$(jq -n --arg raw "$response" '{"ok":false,"curl":$raw}')"
  fi
  logline="$(jq -nc \
{% for jq, value in tg_message_labels.items() %}
    {% if value.json is defined %}--argjson{% else %}--arg{% endif %} {{ jq }} "${{ value.bash }}" \
{% endfor %}
    '{
{% for json, value in tg_message_labels.items() %}
      {{ json }}:${{ json }}{% if not loop.last %},
{% endif %}
{% endfor %}

    }'
  )"

  if [[ $response_ok = true ]]; then
    addline "$logline" {{ custom_logs.telegram.success }}
    exit 0
  fi

  echo "$response"
  addline "$logline" {{ custom_logs.telegram.error }}

#  if [[ -z "$logline" ]]; then
#    echo "EMPTY LOGLINE" >&2
#    printf 'response=[%s]\n' "$response" >&2
#    printf 'logline=[%s]\n' "$logline" >&2
#  fi

  sleep $RETRY_DELAY
done

exit 1
