#!/bin/bash

if [[ "$2" == alert ]]; then
  TOKEN="{{ vault_telegram_alert_bot_token }}"
  CHAT="{{ vault_telegram_alert_chat_id }}"
elif [[ "$2" == status ]]; then
  TOKEN="{{ vault_telegram_status_bot_token }}"
  CHAT="{{ vault_telegram_status_chat_id }}"
else
  echo "usage: $(basename $0) message \"\$0\" alert|status"
  exit 1
fi

CALLER="$3"

PARSE_MODE=$4
[[ -z "$4" ]] && PARSE_MODE=HTML

if [[ "$PARSE_MODE" == HTML ]]; then
MESSAGE=$(
  printf "%s" "$1"
)
elif [[ "$PARSE_MODE" == Markdown* ]]; then
MESSAGE=$(
  printf "$1" | \
  sed 's/[_*[\]()~`>#+-=|{}.!]/\\&/g'
)
fi

MAX_RETRIES=15
RETRY_DELAY=2

addline() {
  [[ -z $2 ]] && touch $2
  echo "$1" >> $2
}

for ((i=1; i<=MAX_RETRIES; i++)); do
  response=$(
	curl -s \
    -X POST "https://api.telegram.org/bot$TOKEN/sendMessage" \
    -d chat_id="$CHAT" \
    -d text="${MESSAGE}" \
    -d parse_mode="$PARSE_MODE"
  )

  logline="$(date --rfc-3339=seconds) $CALLER $3 $(echo -n "${MESSAGE}" | wc -m) $i $response"
  response_ok=$(echo $response | jq .ok)

  if [[ $response_ok = true ]]; then
    addline "$logline" {{ telegram_bot_success_log }}
    exit 0
  fi

  echo "$response"
  addline "$logline" {{ telegram_bot_error_log }}

  sleep $RETRY_DELAY
done

exit 1
