#!/bin/bash

CALLER=$(basename ${BASH_SOURCE[1]})
PARSE_MODE=$2
[[ -z "$2" ]] && PARSE_MODE=HTML

#"%s" in printf OR --data-urlencode "text=..." instead of -d in curl
if [[ "$PARSE_MODE" == HTML ]]; then
MESSAGE=$(
  printf "$1"
)
elif [[ "$PARSE_MODE" == Markdown* ]]; then
MESSAGE=$(
  printf "$1" | \
  sed 's/[_*[\]()~`>#+-=|{}.!]/\\&/g'
)
fi

MAX_RETRIES=15
RETRY_DELAY=2

for ((i=1; i<=MAX_RETRIES; i++)); do
  response=$(
	curl -s \
      -X POST "https://api.telegram.org/bot{{ vault_telegram_bot_token }}/sendMessage" \
      --data-urlencode "text=${MESSAGE}" \
      -d chat_id="{{ vault_telegram_chat_id }}" \
      -d parse_mode="$PARSE_MODE"
  )

  response_ok=$(echo $response | jq .ok)
  [[ $response_ok = true ]] && exit 0

  echo "$response"
  [[ -z {{ telegram_bot_log }} ]] && touch {{ telegram_bot_log }}
  echo "$(date --rfc-3339=seconds) \"$CALLER\" ${#MESSAGE} $response" >> {{ telegram_bot_log }}

  sleep $RETRY_DELAY
done

exit 1
