#!/bin/bash

CALLER=$(basename ${BASH_SOURCE[1]})
PARSE_MODE=$2
[[ -z "$2" ]] && PARSE_MODE=HTML

#"%s" in printf OR --data-urlencode "text=..." instead of -d in curl
if [[ "$PARSE_MODE" == HTML ]]; then
MESSAGE=$(
  printf "$1"
)
elif [[ "$PARSE_MODE" == Markdown* ]]; then
MESSAGE=$(
  printf "$1" | \
  sed 's/[_*[\]()~`>#+-=|{}.!]/\\&/g'
)
fi

#length=$(echo -n "${MESSAGE}" | wc -m)
{% raw %}
length=${#MESSAGE}
{% endraw %}

if (( length > 4096 )); then
  MESSAGE="$(echo "$MESSAGE" | cut -d'<pre>' -f1)"
  MESSAGE+="\nAttention: $length>4096 symbols in message, posted without log
watch log: grep -m NUM -awF IP LOGPATH | tail -n NUM"
fi

MAX_RETRIES=15
RETRY_DELAY=2

for ((i=1; i<=MAX_RETRIES; i++)); do
#-o /dev/null -w "%{http_code}" to receive only http code
  response=$(
	curl -s \
      -X POST "https://api.telegram.org/bot{{ vault_telegram_bot_token }}/sendMessage" \
      --data-urlencode "text=${MESSAGE}" \
      -d chat_id="{{ vault_telegram_chat_id }}" \
      -d parse_mode="$PARSE_MODE"
  )

  response_ok=$(echo $response | jq .ok)
  [[ $response_ok = true ]] && exit 0

  echo "$response"
  [[ -z {{ telegram_bot_log }} ]] && touch {{ telegram_bot_log }}
  echo "$(date --rfc-3339=seconds) $CALLER $length $response" >> {{ telegram_bot_log }}

  sleep $RETRY_DELAY
done

exit 1
