#!/bin/bash
. /usr/local/bin/get_ip_geo.sh

declare -A PEER_NAMES
{% for peer in wireguard_peers %}
PEER_NAMES["{{ peer.public_key }}"]="{{ wireguard_devices[peer.device].name }}"
{% endfor %}

ALLOWED_COUNTRIES=(
{% for country in allowed_countries %}
  "{{ country }}"
{% endfor %}
)
ALLOWED_REGIONS=(
{% for region in allowed_regions %}
  "{{ region }}"
{% endfor %}
)
ALLOWED_ASN=(
{% for asn in allowed_asn %}
  "{{ asn }}"
{% endfor %}
)

declare -A NEW_HANDSHAKE

while true; do
while read -r PUBKEY PSK ENDPOINT ALLOWED EPOCH RX TX KEEPALIVE; do

if [[ "$EPOCH" == "0" ]]; then
  NEW_HANDSHAKE[$PUBKEY]=1
  continue
fi

if [[ "${NEW_HANDSHAKE[$PUBKEY]}" == "1" ]]; then

IP="${ENDPOINT%:*}"
PORT="${ENDPOINT#*:}"
VPN_IP="${ALLOWED%%/*}"
DEVICE_NAME="${PEER_NAMES[$PUBKEY]}"

IP_INFO="$(get_ip_geo $IP)"
COUNTRY=$(echo "$IP_INFO" | jq -r .country)
REGION=$(echo "$IP_INFO" | jq -r .regionName)
CITY=$(echo "$IP_INFO" | jq -r .city)
TIMEZONE=$(echo "$IP_INFO" | jq -r .timezone)
ASN="$(echo "$IP_INFO" | jq -r .as)"
LAT=$(echo "$IP_INFO" | jq -r .lat)
LON=$(echo "$IP_INFO" | jq -r .lon)

if [[ -z "$DEVICE_NAME" ]]; then
MESSAGE="🚨 UNKNOWN PEER CONNECTED: <code>$PUBKEY</code>
"; else
MESSAGE="🔐 VPN connection success
"; fi

MESSAGE+="From: <code>$IP</code>
Device: <b>$DEVICE_NAME</b> as <code>$VPN_IP</code>
<pre>$(echo "$IP_INFO" | jq)</pre>
Location: <a href='https://2gis.ru/geo/$LON%2C$LAT'>2GIS</a> | <a href='https://maps.google.com/?q=$LAT,$LON'>Google Maps</a>
"

if [[ -f {{ wireguard_connections_log }} ]]; then
PREV_IP=$(grep "$PUBKEY" {{ wireguard_connections_log }} | tail -n1 | awk '{print $3}' | cut -d: -f1 )
fi
if [[ -n "$PREV_IP" && "$PREV_IP" != "$IP" ]]; then
PREV_IP_INFO="$(get_ip_geo $PREV_IP)"
pASN="$(echo "$IP_INFO" | jq -r .as)"
pLAT=$(echo "$PREV_IP_INFO" | jq -r .lat)
pLON=$(echo "$PREV_IP_INFO" | jq -r .lon)

[[ "$pASN" != "$ASN" ]] && MESSAGE+="⚠️ ASN changed"
MESSAGE+="⚠️ VPN connection from different IP
Previous IP: $PREV_IP
<pre>$(echo "$PREV_IP_INFO" | jq)</pre>
Previous location: <a href='https://2gis.ru/geo/$pLON%2C$pLAT'>2GIS</a> | <a href='https://maps.google.com/?q=$pLAT,$pLON'>Google Maps</a>
"; fi

if [[ ! " ${ALLOWED_COUNTRIES[*]} " =~ " ${COUNTRY} " ]]; then
MESSAGE+="⚠️ VPN connection from the different country
"; fi
if [[ ! " ${ALLOWED_REGIONS[*]} " =~ " ${REGION} " ]]; then
MESSAGE+="⚠️ VPN connection from the different region
"; fi
if [[ ! " ${ALLOWED_ASN[*]} " =~ " ${ASN} " ]]; then
MESSAGE+="⚠️ VPN connection from the different ASN
"; fi

/usr/local/bin/tgbot_notify.sh "$MESSAGE"

if [[ "$IP" != "{{ home_ip }}" ]]; then
[[ -z {{ wireguard_connections_log }} ]] && touch {{ wireguard_connections_log }}
echo "$(date --rfc-3339=seconds) $ENDPOINT \"$DEVICE_NAME\" $PUBKEY $VPN_IP $LAT,$LON \"$COUNTRY\" \"$REGION\" \"$CITY\" $TIMEZONE \"$ASN\"" >> {{ wireguard_connections_log }}
fi

NEW_HANDSHAKE[$PUBKEY]=0
fi
done < <(wg show {{ wireguard_interface }} dump | tail -n +2)

sleep 10
done
