apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://{{ docker.loki }}:{{ loki_port }}
    isDefault: true
    jsonData:
      derivedFields:
        - matcherRegex: '([0-9]{1,3}(?:\.[0-9]{1,3}){3})'
          name: IP Info
          url: 'https://ipinfo.io/$${__value.raw}'
    timeout: 300
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ docker.prometheus }}:{{ const_prometheus_port }}
