apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://{{ docker.loki }}:{{ loki_port }}
    isDefault: true
#    jsonData:
#      derivedFields:
#        - matcherRegex: '"ip":"([^"]+)"'
#          name: ip
#          url: 'https://ipinfo.io/$${__value.raw}'
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ docker.prometheus }}:{{ const_prometheus_port }}
