version: "3.9"

networks:
  monitoring:
    external: true

services:
  grafana:
    image: grafana/grafana:latest
    user: "472:472"
    ports:
      - "127.0.0.1:{{ grafana_port }}:{{ grafana_port }}"
    environment:
      - GF_SERVER_ROOT_URL=https://grafana.{{ domain }}
      - GF_SERVER_SERVE_FROM_SUB_PATH=false
      - GF_SERVER_PROTOCOL=http
    volumes:
      - {{ grafana_data_dir }}:{{ grafana_container_data_dir }}
      - {{ grafana_provisioning_dir }}:{{ grafana_container_provisioning_dir }}
    networks:
      - monitoring
