networks:
  monitoring:
    external: true

services:
  grafana:
    image: grafana/grafana:latest
    container_name: {{ docker.grafana }}
    restart: unless-stopped
    user: "{{ grafana_user }}:{{ grafana_user }}"
    ports:
      - "{{ localhost }}:{{ grafana_port }}:{{ grafana_port }}"
    environment:
      - GF_SERVER_ROOT_URL=https://grafana.{{ domain }}
      - GF_SERVER_SERVE_FROM_SUB_PATH=false
      - GF_SERVER_PROTOCOL=http
      - HTTP_PROXY=http://{{ docker.privoxy }}:{{ http_proxy_port }}
      - HTTPS_PROXY=http://{{ docker.privoxy }}:{{ http_proxy_port }}
      - NO_PROXY={{ docker.loki }},{{ docker.prometheus }},{{ localhost }},localhost
    volumes:
      - {{ grafana_data_dir }}:{{ grafana_container_data_dir }}
      - {{ grafana_provisioning_dir }}:{{ grafana_container_provisioning_dir }}
    networks:
      - monitoring

  privoxy:
    image: vimagick/privoxy
    container_name: {{ docker.privoxy }}
    ports:
      - "{{ http_proxy_port }}:{{ http_proxy_port }}"
    volumes:
      - "{{ grafana_base_dir }}/privoxy.config:/etc/privoxy/config"
    networks:
      - monitoring
