#!/bin/bash

declare -A vpn_peer_names
{% for device, data in wireguard_devices.items() %}
vpn_peer_names["{{ data.public_key }}"]="{{ data.name }}"
{% endfor %}

declare -A ssh_peer_names
{% for peer in ssh_authorized %}
ssh_peer_names["$(echo "{{ peer.type }} {{ peer.public_key }}" | ssh-keygen -lf - | awk '{print $2}')"]="{{ peer.name }}"
{% endfor %}
