#!/bin/bash
. {{ watcher_scripts_includes }}/allowed-peers.sh

common_message_init() {
local METHOD="$1"
local KEY="$2"
local PEER="$3"
if [[ -z "$PEER" ]]; then
MESSAGE="🚨 UNKNOWN PEER CONNECTED: <code>$KEY</code>
"; else
MESSAGE="🔐 $METHOD connection success
"; fi
}

log_tail() {
  local KEY="$1"
  local LOG="$2"
  local line=""
  if [[ "$LOG" == "{{ wireguard_connections_log }}" ]]; then
  line=$(grep "$KEY" "$LOG" | tail -n1)
  elif [[ "$LOG" == "{{ sshd_log }}" ]]; then
  line=$(grep "$KEY" "$LOG" | grep "Accepted publickey"  | tail -n1)
  fi
  echo "$line"
}

. {{ watcher_scripts_includes }}/geo-get-json.sh
. {{ watcher_scripts_includes }}/geo-parse.sh
#requires get_ip_geo, geo_parse_ip_info:
. {{ watcher_scripts_includes }}/geo-common.sh

. {{ watcher_scripts_includes }}/geo-allowed.sh
. {{ watcher_scripts_includes }}/allowed-subnets.sh
. {{ watcher_scripts_includes }}/geo-allowed-check.sh

. {{ watcher_scripts_includes }}/geo-previous-ip.sh

generate_geo_message() {
  local IP="$1"
  local LOG="$2"
  local KEY="$3"
  local DEVICE="$4"
  local VPN_IP="$5"
  local SSHLOG="$6"

  ip_info="$(get_ip_geo $IP)"
  geo_parse_ip_info "$ip_info"
  geo_message_common "$IP" "$ip_info" "$LOG" "$KEY" "$DEVICE" "$VPN_IP" "$SSHLOG"

  geo_message_allowed_check "$IP"

  previous_ip=$(previous_ip_check "$KEY" "$LOG")
  previous_ip_geo_message "$IP" "$previous_ip" "$LOG" "$KEY"
}
