#!/bin/bash
get_ip_geo() {
  CACHE_FILE="{{ custom_logs.telegram.cache }}/$1.json"
  if [[ -f "$CACHE_FILE" &&
        $(stat -c %Y "$CACHE_FILE") -gt $(date -d '7 days ago' +%s)
  ]]; then
    cat "$CACHE_FILE"
    return
  fi
  DATA=$(curl -s http://ip-api.com/json/$1)
  echo "$DATA" > "$CACHE_FILE"
  echo "$DATA"
}
