[Service]
Environment="HTTP_PROXY=socks5://{{ localhost }}:{{ socks5_port }}"
Environment="HTTPS_PROXY=socks5://{{ localhost }}:{{ socks5_port }}"
Environment="NO_PROXY={{ localhost }},localhost,{{ lan_ip.server }}"
