Port {{ sshd_port }}

Protocol 2

PermitRootLogin {{ sshd_permit_root_login }}
PubkeyAuthentication {{ sshd_pubkey_authentication }}
PasswordAuthentication {{ sshd_password_authentication }}

ChallengeResponseAuthentication no
UsePAM yes

AllowTcpForwarding yes
GatewayPorts yes
X11Forwarding no
PrintMotd no

{% if sshd_allow_users | length > 0 %}
AllowUsers {% for user in sshd_allow_users %}{{ user }} {% endfor %}
{% endif %}

Subsystem sftp /usr/lib/openssh/sftp-server
