external-controller: ""
external-ui: ""
external-ui-url: https://github.com/Zephyruso/zashboard/releases/latest/download/dist.zip
external-controller-cors:
  allow-origins:
    - https://metacubex.github.io
    - https://board.zash.run.place
  allow-private-network: false
secret: ""
mode: rule
mixed-port: 7897
socks-port: 0
port: 0
redir-port: 0
tproxy-port: 0
log-level: info
find-process-mode: always
interface-name: ""
bind-address: "*"
keep-alive-idle: 0
keep-alive-interval: 0
disable-keep-alive: false
global-client-fingerprint: ""
lan-allowed-ips:
  - 0.0.0.0/0
  - ::/0
lan-disallowed-ips: []
authentication: []
skip-auth-prefixes:
  - 127.0.0.1/32
tun:
  enable: true
  device: mihomo
  stack: mixed
  auto-route: false
  auto-redirect: false
  auto-detect-interface: true
  dns-hijack:
    - any:53
  strict-route: false
  route-exclude-address:
    - {{ wireguard_network }}
  disable-icmp-forwarding: false
  mtu: 1500
profile:
  store-selected: true
  store-fake-ip: true
geo-auto-update: false
geo-update-interval: 24
geodata-mode: false
geox-url:
  geoip: https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip-lite.dat
  geosite: https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat
  mmdb: https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.metadb
  asn: https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/GeoLite2-ASN.mmdb
dns:
  nameserver-policy:
    +.{{ arpa_domain }}:
      - {{ lan_ip.server }}
  ipv6: true
  fake-ip-range: 198.18.0.1/16
  fake-ip-range6: ""
  fake-ip-filter:
    - +.lan
    - +.local
    - time.*.com
    - ntp.*.com
    - +.market.xiaomi.com
{% for rule, values in clash_exclude.items() %}{% for domain in values if rule in ['domains_dns'] %}
    - +.{{ domain }}
{% endfor %}{% endfor %}
  enhanced-mode: fake-ip
  use-hosts: false
  use-system-hosts: false
  respect-rules: false
  default-nameserver:
    - tls://223.5.5.5
  nameserver:
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
  proxy-server-nameserver: []
  direct-nameserver:
    - {{ lan_ip.server }}
  enable: true
{# honor magicbook only? #}
sniffer:
  enable: true
  parse-pure-ip: true
  force-dns-mapping: true
  override-destination: false
  sniff:
    HTTP:
      ports:
        - 80
        - 443
      override-destination: false
    TLS:
      ports:
        - 443
  skip-domain:
    - +.push.apple.com
  skip-dst-address:
    - 91.105.192.0/23
    - 91.108.4.0/22
    - 91.108.8.0/21
    - 91.108.16.0/21
    - 91.108.56.0/22
    - 95.161.64.0/20
    - 149.154.160.0/20
    - 185.76.151.0/24
    - 2001:67c:4e8::/48
    - 2001:b28:f23c::/47
    - 2001:b28:f23f::/48
    - 2a0a:f280:203::/48
