prepend:
  - 5,PROCESS-NAME,YandexDisk4.exe,DIRECT
{% for rule, values in clash_exclude.items() %}{% for subnet in values if rule in ['cidrs'] %}
  - IP-CIDR,{{ subnet }},DIRECT
{% endfor %}{% endfor %}
  - 2,PROCESS-NAME,:System,DIRECT
{% for rule, values in clash_exclude.items() %}{% for domain in values if rule not in ['cidrs'] %}
  - DOMAIN-SUFFIX,{{ domain }},DIRECT
{% endfor %}{% endfor %}
{% for item in clash_domain_configured.values() %}
  - DOMAIN-SUFFIX,{{ item.domain }},{{ item.rule }}
{% endfor %}
  - GEOIP,RU,DIRECT
append: []
delete: []
