defaults
auth           on
tls            on
tls_starttls   on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
syslog         on

account {{ msmtp_account }}
host {{ msmtp_host }}
port {{ msmtp_port }}
from {{ msmtp_user }}
user {{ msmtp_user }}
password {{ msmtp_password }}

account default : {{ msmtp_account }}
