{% for key, value in ssh_hosts.items() %}{% for subkey, subvalue in whost.items() %}
{% if ansible_env.COMPUTERNAME == subvalue.name %}{% if value.device | select('equalto', subkey) %}
Host {{ key }}
    HostName {{ value.hostname }}
    User {{ value.user }}
    IdentityFile {{
        ansible_env.USERPROFILE 
        | regex_replace('\\\\','/')
        | regex_replace(subvalue.user,'Bulat')
      }}/.ssh/{{ value.identity }}
  {% if value.port is defined %}
  Port {{ value.port }}
  {% endif %}
  {%- if value.options is defined -%}
    {%- for item in value.options -%}
      {%- if not loop.last or value.options|length == 1 -%}{{ '  ' }}{%- endif -%}
    {{ item }}
    {% endfor %}
  {% endif %}

{% endif %}{% endif %}
{% endfor %}{% endfor %}
