apiVersion: 1

contactPoints:
  - name: "{{ contact_points.tg_status_bot.name }}"
    receivers:
      - uid: telegram_bot_status
        type: telegram
        settings:
          botToken: "{{ vault_telegram_status_bot_token }}"
          chatId: "{{ vault_telegram_user_chat_id }}"
          parseMode: HTML
          message: |
            {{ lookup('file', 'telegram.gotemplate') | indent(12) }}

policies:
  - orgId: 1
    receiver: "{{ contact_points.tg_status_bot.name }}"
    routes:
      - receiver: "{{ contact_points.tg_status_bot.name }}"
        group_by: ['{{ contact_points.tg_status_bot.group_by }}']
        matchers:
          - severity=~".+"
