apiVersion: 1

contactPoints:
  - name: "{{ contact_points.tg_status_bot.name }}"
    receivers:
      - uid: telegram_bot_status
        type: telegram
        settings:
          botToken: "{{ vault_telegram_status_bot_token }}"
          chatId: "{{ vault_telegram_user_chat_id }}"
          message: |
            {{ lookup('file', 'telegram.go') | indent(12) }}

  - name: "{{ contact_points.email.name }}"
    receivers:
      - uid: email_critical
        type: email
        settings:
          addresses: "{{ vault_mail }}"

policies:
  - orgId: 1
    receiver: "{{ contact_points.tg_status_bot.name }}"
    group_by: ['{{ contact_points.tg_status_bot.group_by | join("', '") }}']
    routes:
      - receiver: "{{ contact_points.email.name }}"
        matchers:
          - severity="error"
