apiVersion: 1

groups:
  - name: {{ docker.mihomo }}
    folder: alerts
    interval: {{ interval }}
    rules:
{% for key, rule in mihomo_alert.items() %}
      - uid: {{ key }}
        title: {{ rule.title }}
        data:
          - refId: A
            relativeTimeRange:
              from: {{ seek_period | regex_replace('m', '') | int * 60 }}
              to: 0
            datasourceUid: {% if rule.datasource == 'loki' %}{{ loki_uid }}
{% elif rule.datasource == 'prometheus' %}{{ prometheus_uid }}
{% endif %}
            model:
{% if rule.query.type == 'count' %}
              expr: >
                count_over_time(
                  {container="/{{ docker.mihomo }}"}
                  |{% if rule.query.mode == 'exact' %}={% elif rule.query.mode == 'regex' %}~{% endif %} "{{ rule.query.match }}"
                  [{{ seek_period }}]
                ) {{ rule.condition.operator }} {{ rule.condition.value }}
{% endif %}
              instant: true
              intervalMs: 1000
              maxDataPoints: 43200
              queryType: instant
              refId: A
        condition: A
        for: {{ pending_period }}
        annotations:
          description: "{{ rule.description }}"
        labels:
          severity: {{ rule.severity }}
        noDataState: OK
        execErrState: Error
{% endfor %}
