apiVersion: 1

groups:
  - name: {{ docker.mihomo }}
    folder: alerts
    interval: {{ interval }}
    rules:
{% for key, rule in mihomo_alert.items() %}
      - uid: {{ key }}
        title: {{ rule.title }}
        condition: B
        data:
          - refId: A
            datasourceUid: {% if rule.datasource == 'loki' %}{{ loki_uid }}
{% elif rule.datasource == 'prometheus' %}{{ prometheus_uid }}
{% endif %}
            type: query
            relativeTimeRange:
              from: {{ seek_period | regex_replace('m', '') | int * 60 }}
              to: 0
            model:
{% if rule.query.type == 'count' %}
              expr: >
                count_over_time(
                  {container="/{{ docker.mihomo }}"}
                  |{% if rule.query.mode == 'exact' %}={% elif rule.query.mode == 'regex' %}~{% endif %} "{{ rule.query.match }}"
                  [{{ seek_period }}]
                )
{% endif %}
              range: true
              intervalMs: 1000
          - refId: B
            datasourceUid: __expr__
            relativeTimeRange:
              from: {{ seek_period | regex_replace('m', '') | int * 60 }}
              to: 0
            model:
              datasource:
                type: __expr__
                uid: __expr__
              type: reduce
              expression: A
              reducer: sum
            intervalMs: 1000
            maxDataPoints: 43200
        for: {{ pending_period }}
        annotations:
          description: "{{ rule.description }}"
        labels:
          severity: {{ rule.severity }}
{% endfor %}
