apiVersion: 1

groups:
  - name: {{ docker.mihomo }}
    folder: {{ docker.mihomo }}
    interval: {{ interval }}
    rules:
{% for key, rule in mihomo_alert.items() %}
      - uid: {{ key }}
        title: {{ rule.title }}
        condition: {% if rule.condition is defined %}C
{% else %}A
{% endif %}
        data:
          - refId: A
{% if rule.datasource == 'loki' %}
            datasourceUid: {{ loki_uid }}
{% elif rule.datasource == 'prometheus' %}
            datasourceUid: {{ prometheus_uid }}
{% endif %}
            relativeTimeRange:
              from: {{ seek_period | regex_replace('m', '') | int * 60 }}
              to: 0
            model:
{% if rule.query.type == 'count' %}
              expr: >
                count_over_time(
                  {container="/{{ docker.mihomo }}"}
                  |{% if rule.query.mode == 'exact' %}={% elif rule.query.mode == 'regex' %}~{% endif %} "{{ rule.query.match }}"
                  [{{ seek_period }}]
                )
{% endif %}
              range: true
              intervalMs: 1000
              #maxDataPoints: 43200
            type: query
{% if rule.condition is defined %}
          - refId: B
            type: reduce
            expression: A
            reducer: sum #last
            relativeTimeRange:
              from: {{ seek_period | regex_replace('m', '') | int * 60 }}
              to: 0
            model: {}
          - refId: C
            type: threshold
            expression: B {{ rule.condition.operator }} {{ rule.condition.value }}
            relativeTimeRange:
              from: {{ seek_period | regex_replace('m', '') | int * 60 }}
              to: 0
            model: {}
{% endif %}
        for: {{ pending_period }}
        annotations:
          description: "{{ rule.description }}"
        labels:
          severity: {{ rule.severity }}
{% endfor %}
