$ChocolateyProfile = "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
if (Test-Path($ChocolateyProfile)) {
  Import-Module "$ChocolateyProfile"
}

{# define PowerShell version because some module options like HistoryAndPlugin are not supported in versions <7.2 #}
$psVersion = $PSVersionTable.PSVersion.Major
{# Enable PSReadLine predictions, zsh-autosuggestions analogue for powershell #}
Import-Module PSReadLine
{% for option in psreadline_options | dict2items %}
  {%- if option.value is string -%}
  Set-PSReadLineOption -{{ option.key }} {{ option.value }}
  {%- else -%}
  if ($psVersion -lt 7) { Set-PSReadLineOption -{{ option.key }} {{ option.value.powershell }} }
else { Set-PSReadLineOption -{{ option.key }} {{ option.value.pwsh }} }
  {%- endif %}

{% endfor %}
{# Make PSReadLine history search behave like zsh-autosuggestions: considering the prefix typed to commandline #}
{% for option in psreadline_keys | dict2items %}
Set-PSReadLineKeyHandler -Key {{ option.key }} -Function {{ option.value }}
{% endfor %}

{# Must be called last: Add Starship initialization to PowerShell profile #}
{# pwsh is not supported by starship #}
Invoke-Expression (&starship init powershell)
