{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "Render Ansible Template",
      "type": "shell",
      "command": "${workspaceFolder}/{{ ansible_config_file | dirname | basename }}/tools/j2render.sh",
      "args": [
        "${file}",
        "${input:itemExpr}"
      ],
      "options": {
        "cwd": "${workspaceFolder}/{{ ansible_config_file | dirname | basename }}"
      },
      "problemMatcher": [],
      "presentation": {
        "reveal": "always",
        "panel": "shared"
      }
    }
  ],
  "inputs": [
    {
      "id": "itemExpr",
      "type": "promptString",
      "description": "Jinja expression passed to {% raw %}{{ item }}{% endraw %} from role tasks. Leave empty if 'item'/'loop:'/'with_*:' are not used. Examples: '(loop_variable | dict2items)[index]', \"(loop_variable | dict2items | selectattr('key','equalto','VAR') | first)\"",
      "default": ""
    }
  ]
}