{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "Render Ansible Template",
      "type": "shell",
      "command": "${workspaceFolder}/{{ ansible_config_file | dirname | basename }}/tools/j2render.sh",
      "args": [
        "${file}",
        "${input:itemPattern}",
        "${input:itemArg}"
      ],
      "options": {
        "cwd": "${workspaceFolder}/{{ ansible_config_file | dirname | basename }}"
      },
      "problemMatcher": [],
      "presentation": {
        "reveal": "always",
        "panel": "shared"
      }
    }
  ],
  "inputs": [
    {
      "id": "itemPattern",
      "type": "pickString",
      "description": "Variable type passed to {% raw %}{{ item }}{% endraw %} from role tasks.",
      "options": [
        "none",
        "list-index",
        "dict2items-index",
        "dict2items-key"
      ],
      "default": "none"
    },
    {
      "id": "itemArg",
      "type": "promptString",
      "description": "Loop variable name (+ index/key if needed)",
      "default": ""
    }
  ]
}