mixed-port: {{ clash_mixed_port }}
socks-port: {{ socks5_port }}
#redir-port: 7892
allow-lan: true
mode: {{ clash_proxy_mode }}
log-level: debug
external-controller: {{ localhost }}:{{ clash_web_port }}
tun:
  enable: {{ clash_tunnel_enable | lower }}
  stack: system
  auto-route: false
  auto-detect-interface: true
  route-exclude-address:
    - {{ wireguard_network }}
  route-exclude-interface:
    - {{ wireguard_interface }}
dns:
  enable: {{ clash_dns_enabled | lower }}
  use-hosts: true
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  default-nameserver:
{% for nameserver in clash_dns_nameservers %}
      - {{ nameserver }}
{% endfor %}
  nameserver:
{% for nameserver in clash_dns_nameservers %}
      - {{ nameserver }}
{% endfor %}
  fake-ip-filter:
{% for fakeip in clash_dns_fake_ip_filter %}
      - {{ fakeip | to_json }}
{% endfor %}
{% if clash_subscription_use %}
proxy-providers:
  remnawave:
    type: http
    url: "{{ clash_subscription_url }}"
    interval: {{ clash_subscription_update_interval }}
    path: ./providers/remnawave.yaml
    health-check:
      enable: true
      url: {{ clash_healthcheck_url }}
      interval: {{ clash_healthcheck_interval }}
{% else %}
proxies:
{% for proxy in clash_proxies %}
  - name: {{ proxy.name }}
{% for key, value in proxy.items() if key not in ['name'] %}
{% set json_obj = value | from_json | dict2items if value in ['grpc-opts', 'reality-opts'] else value | default(null) %}
{% if value is string or value is integer %}
    {{ key }}: {{ value }}
{% elif value is boolean %}
    {{ key }}: {{ value | lower }}
{% else %}
    {{ key }}:
{% if value|length==1 and key in ['alpn'] %}
      - {{ value | join }}
{% else %}
{% for subkey, subvalue in json_obj.items() %}
      {{ subkey }}: {{ subvalue }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
proxy-groups:
  - name: → Remnawave
    type: {{ clash_connection_type }}
{% if clash_subscription_use %}
    use:
      - remnawave
    url: {{ clash_healthcheck_url }}
    interval: {{ clash_connection_interval }}
{% else %}
    proxies:
{% for proxy in clash_proxies %}
      - {{ proxy.name }}
{% endfor %}
{% if clash_connection_type != "select" %}
    interval: {{ clash_connection_interval }}
{% endif %}
{% if clash_connection_type == "url-test" %}
    tolerance: {{ clash_connection_tolerance }}
{% endif %}
{% endif %}
rules:
{% for rule in clash_rules.split %}
  - {{ rule }}
{% endfor %}
