services:
  mihomo:
    image: metacubex/mihomo:latest
    container_name: {{ mihomo_container }}
    restart: unless-stopped
    ports:
      - "{{ clash_mixed_port }}:{{ clash_mixed_port }}"
      - "{{ socks5_port }}:{{ socks5_port }}"
    volumes:
      - "{{ clash_config_dir }}:/root/.config/mihomo"
    healthcheck:
      test: ["CMD", "nc", "-z", "{{ localhost }}", "{{ socks5_port }}"]
      interval: 10s
      timeout: 5s
      retries: 5
    stop_grace_period: 30s
