{% set containers = [] %}
{% for key, value in docker.items() %}
  {% if value is mapping %}
    {% for subkey, subvalue in value.items() %}
      {% set _ = containers.append(subvalue) %}
    {% endfor %}
  {% else %}
    {% set _ = containers.append(value) %}
  {% endif %}
{% endfor %}
{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
{% for container in containers %}
    {
      "type": "logs",
      "title": "{{ container }} logs",
      "targets": [
        {
          "expr": "{container=\"/{{ container }}\"}",
          "refId": "{{ loop.index }}"
        }
      ],
      "options": {
        "fontSize": "small",
        "showControls": true
      },
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": {{ 0 + (loop.index0 * 8) }}
      }
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "refresh": "30s",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "loki",
    "docker"
  ],
  "templating": {
    "list": []
  },
  "title": "Loki: Docker Container Logs",
  "version": 1
}