{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
    {
      "type": "row",
      "title": "Main",
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "panels": []
    },
{% for key, value in docker.items() if key not in ['metric_exporters'] %}
    {
      "type": "logs",
      "title": "{{ value }} logs",
      "targets": [
        {
          "expr": "{container=\"/{{ value }}\"}",
          "refId": "{{ loop.index }}"
        }
      ],
      "options": {
        "fontSize": "small",
        "showControls": true
      },
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": {{ 1 + (loop.index0 * 8) }}
      }
    },
{% endfor %}
{% set main_logs = docker | dict2items | rejectattr('key', 'equalto', 'metric_exporters') | list %}
    {
      "type": "row",
      "title": "Prometheus metric exporters",
      "collapsed": true,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": {{ 1 + (main_logs | length * 8) }}
      },
      "panels": [
{% for key, value in docker.metric_exporters.items() %}
        {
          "type": "logs",
          "title": "{{ value }} logs",
          "targets": [
            {
              "expr": "{container=\"/{{ value }}\"}",
              "refId": "{{ loop.index }}"
            }
          ],
          "options": {
            "fontSize": "small",
            "showControls": true
          },
          "gridPos": {
            "h": 8,
            "w": 24,
            "x": 0,
            "y": {{ 2 + (main_logs | length * 8) + (loop.index0 * 8) }}
          }
        }{% if not loop.last %},
{% endif %}
{% endfor %}

      ]
    }
  ],
  "refresh": "30s",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "loki",
    "logs",
    "docker"
  ],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-{{ showtime.normal }}",
    "to": "now"
  },
  "timezone": "browser",
  "title": "Loki: Docker Container Logs",
  "version": 1
}