{%- set labels = [] -%}
{%- set _ = labels.append('type') -%}
{%- for key, value in auditd_labels.items() -%}{%- for label in value -%}
{%- set _ = labels.append(label) -%}
{%- endfor -%}{%- endfor -%}
{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
{% for key, panel in audit_dashboard_panels.items() %}
    {
      "type": "logs",
      "title": "{{ panel.title }}",
      "targets": [
        {
          "expr": {{ panel.expr | to_json }},
          "refId": "{{ loop.index }}"
        }
      ],
      "options": {
        "fontSize": "small",
        "showControls": true,
        "showTime": true
      },
{% set panelHeight = 10 %}
{% set loopPanelHeight = 8 %}
      "gridPos": {
        "h": {% if key == 'logs' %}{{ panelHeight }}{% else %}8{% endif %},
        "w": 24,
        "x": 0,
        "y": {% if key == 'logs' %}0{% else %}{{ panelHeight + ((loop.index0 - 1) * loopPanelHeight) }}
{% endif %}
      }
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "refresh": "{{ refresh_time.quick }}",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "loki",
    "auditd",
    "logs"
  ],
  "templating": {
    "list": [
{% for label in labels %}
      {
        "name": "{{ label }}",
        "type": "query",
        "datasource": {
          "type": "loki",
          "uid": "{{ loki_uid }}"
        },
        "includeAll": true,
        "multi": true,
        "query": "label_values({job=\"{{ promtail_logs.auditd.name }}\"}, {{ label }})"
      }{% if not loop.last %},
{% endif %}
{% endfor %}

    ]
  },
  "time": {
    "from": "now-{{ showtime.normal }}",
    "to": "now"
  },
  "timezone": "browser",
  "title": "Loki: Auditd",
  "version": 1
}