{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
{% for key, job in promtail_logs.items() %}
    {
      "type": "logs",
      "title": "{{ job.name }}",
      "targets": [
        {
          "expr": "{job=\"{{ job.name }}\"}",
          "refId": "{{ loop.index }}"
        }
      ],
      "options": {
        "fontSize": "small",
        "showControls": true
      },
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": {{ 0 + (loop.index0 * 8) }}
      }
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "schemaVersion": 39,
  "style": "dark",
  "tags": ["loki", "logs"],
  "templating": {
    "list": []
  },
  "title": "Loki: Logs Overview",
  "version": 1
}