{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
{% for key, panel in nftables_dashboard.items() %}
    {
      "type": "{{ panel.type }}",
      "title": "{{ panel.title }}",
      "targets": [
        {
          "expr": {{ panel.expr | to_json }},
{% if panel.label is defined %}
          "legendFormat": "{% raw %}{{ {% endraw %}{{ panel.label }} }}",
{% endif %}
          "refId": "{{ loop.index }}"
        }
      ],
{% if panel.type == "logs" %}
      "options": {
        "fontSize": "small",
        "showControls": true
      },
{% elif panel.type == "heatmap" %}
      "options": {
        "calculate": false
      },
{% elif panel.type == "timeseries" %}
      "fieldConfig": {
        "defaults": {
          "custom": {
            "drawStyle": "line",
            "lineWidth": 3,
            "fillOpacity": 15
          },
          "stacking": {
            "mode": "none"
          }
        }
      },
{% endif %}
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": {{ 0 + (loop.index0 * 8) }}
      }
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "refresh": "{{ refresh_time.normal }}",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "loki",
    "nftables",
    "logs",
    "logstatistics"
  ],
  "templating": {
    "list": [
{% for label in nftables_labels %}
      {
        "name": "{{ label }}",
        "type": "query",
        "datasource": {
          "type": "loki",
          "uid": "{{ loki_uid }}"
        },
{% if label == 'exclude_src' %}
        "current": {
          "text": [
            "{{ nftlog_relabels.exclude_source_ip.default }}"
          ],
          "value": [
            "{{ nftlog_relabels.exclude_source_ip.default }}"
          ]
        },
{% endif %}
        "includeAll": true,
        "multi": true,
        "query": "label_values({job=\"nftables\"}, {{ label }})"
      }{% if not loop.last %},
{% endif %}
{% endfor %}

    ]
  },
  "time": {
    "from": "now-{{ nftables_dashboard_period.showtime }}",
    "to": "now"
  },
  "title": "Loki: NFTables Actions",
  "version": 1
}