{%- set dashboard = [] -%}
{%- for key, panel in nginx_dashboard.items() -%}
  {%- set _ = dashboard.append(panel) -%}
{%- endfor -%}
{%- for key, panel in nginx_latency_panels.items() -%}
  {%- set _ = dashboard.append(panel) -%}
{%- endfor -%}
{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
{% set ns = namespace(y = 0, first = true) %}
{% for row_name, row_cfg in nginx_rows.items() %}
    {
      "type": "row",
      "title": "{{ row_cfg.title }}",
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": {{ ns.y }}
      },
      "panels": []
    },
{% set ns.y = ns.y + 1 %}
{% for panel in dashboard if panel.row == row_name %}
    {
      "type": "{{ panel.type }}",
      "title": "{{ panel.title }}",
      "targets": [
        {
          "expr": {{ panel.expr | to_json }},
{% if panel.label is defined %}
          "legendFormat": "{% raw %}{{ {% endraw %}{% if panel.label is string %}{{ panel.label }}{% else %}{{ panel.label | join(' }} {{ ') }}{% endif %} }}",
{% endif %}
          "refId": "{{ loop.index }}"
        }
      ],
{% if panel.type == "logs" %}
      "options": {
        "fontSize": "small",
        "showControls": true
      },
{% elif panel.type == "heatmap" %}
      "options": {
        "calculate": false
      },
{% elif panel.type == "timeseries" %}
      "fieldConfig": {
        "defaults": {
          "custom": {
            "drawStyle": "line",
            "lineWidth": 2,
            "fillOpacity": 15
          },
          "stacking": {
            "mode": "none"
          }
        }
      },
{% elif panel.type == "barchart" %}
      "options": {
        "barWidth": 1,
        "groupWidth": 1,
        "fullHighlight": false,
        "xTickLabelSpacing": 100
      },
{% endif %}
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": {{ ns.y }}
      }
    }{% if not loop.last %},
{% endif %}
{% set ns.y = ns.y + 8 %}
{% endfor %}
{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "refresh": "{{ refresh_time.long }}",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "loki",
    "nginx",
    "logs",
    "logstatistics"
  ],
  "templating": {
    "list": [
{% for label in nginx_labels %}
      {
        "name": "{{ label }}",
        "type": "query",
        "datasource": {
          "type": "loki",
          "uid": "{{ loki_uid }}"
        },
{% if label == 'exclude_ip' %}
        "current": {
          "text": [
{% for value in nginx_exclude_ip %}
            "{{ value }}"{% if not loop.last %},
{% endif %}
{% endfor %}

          ],
          "value": [
{% for value in nginx_exclude_ip %}
            "{{ value }}"{% if not loop.last %},
{% endif %}
{% endfor %}

          ]
        },
{% endif %}
        "includeAll": {% if label == 'exclude_ip' %}false{% else %}true{% endif %},
{% if label != 'exclude_ip' %}
        "allValue": ".+",
{#         "allValue": ".*",#}
{% endif %}
        "multi": true,
        "query": "label_values({job=\"{{ promtail_logs.nginx_access.name }}\"}, {{ label }})"
      }{% if not loop.last %},
{% endif %}
{% endfor %}

    ]
  },
  "time": {
    "from": "now-{{ nginx_dashboard_period.showtime }}",
    "to": "now"
  },
  "timezone": "browser",
  "title": "Loki: Nginx",
  "version": 1
}