{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
{% for key, panel in f2b_dashboard.items() %}
    {
      "type": "{{ panel.type }}",
      "title": "{{ panel.title }}",
      "targets": [
        {
          "expr": {{ panel.expr | to_json }},
          "refId": "{{ loop.index }}"
        }
      ],
{% if panel.type == "logs" %}
      "options": {
        "fontSize": "small",
        "showControls": true{% if panel.json is defined %},
        "wrapLogMessage": true,
        "prettifyLogMessage": true,
        "enableLogDetails": true,
        "showLabels": true,
        "showTime": true,
        "syntaxHighlighting": true
{% endif %}
      },
{% elif panel.type == "heatmap" %}
      "options": {
        "calculate": false
      },
{% elif panel.type == "timeseries" %}
      "fieldConfig": {
        "defaults": {
          "custom": {
            "drawStyle": "bars"
          }
        }
      },
{% endif %}
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": {{ 0 + (loop.index0 * 8) }}
      }
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "refresh": "30s",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "loki",
    "fail2ban"
  ],
  "templating": {
    "list": [
{% for label in f2b_labels %}
      {
        "name": "{{ label }}",
        "type": "query",
        "datasource": {
          "type": "loki",
          "uid": "{{ loki_uid }}"
        },
        "includeAll": true,
        "multi": true,
        "query": "label_values({job=\"{{ promtail_logs.fail2ban_events.name }}\"}, {{ label }})"
      }{% if not loop.last %},
{% endif %}
{% endfor %}

    ]
  },
  "title": "{{ f2b_event_dashboard.title }}",
  "uid": "{{ f2b_event_dashboard.uid }}",
  "version": 1
}