{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
{% set ns = namespace(y = 0, first = true) %}
{% for row_name, row_cfg in nginx_rows.items() %}
    {
      "type": "row",
      "title": "{{ row_cfg.title }}",
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": {{ ns.y }}
      },
      "panels": []
    },
{% set ns.y = ns.y + 1 %}
{% for key, panel in nginx_dashboard.items() if panel.row == row_name %}
    {
      "type": "{{ panel.type }}",
      "title": "{{ panel.title }}",
      "targets": [
        {
          "expr": {{ panel.expr | to_json }},
{% if panel.label is defined %}
          "legendFormat": "{% raw %}{{ {% endraw %}{% if panel.label is string %}{{ panel.label }}{% else %}{{ panel.label | join(' }} {{ ') }}{% endif %} }}",
{% endif %}
          "refId": "{{ loop.index }}"
        }
      ],
{% if panel.type == "logs" %}
      "options": {
        "fontSize": "small",
        "showControls": true
      },
{% elif panel.type == "heatmap" %}
      "options": {
        "calculate": false
      },
{% elif panel.type == "timeseries" %}
      "fieldConfig": {
        "defaults": {
          "custom": {
            "drawStyle": "bars"
          },
          "stacking": {
            "mode": "normal"
          }
        }
      },
{% elif panel.type == "barchart" %}
      "options": {
        "barWidth": 1,
        "groupWidth": 1,
        "fullHighlight": false,
        "xTickLabelSpacing": 100
      },
{% endif %}
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": {{ ns.y }}
      }
    }{% if not loop.last %},
{% endif %}
{% set ns.y = ns.y + 8 %}
{% endfor %}
{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "refresh": "{{ refresh_time.long }}",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "loki",
    "nginx"
  ],
  "templating": {
    "list": [
{% for label, cfg in nginx_labels.items() %}
      {
        "name": "{{ label }}",
        "type": "query",
        "datasource": {
          "type": "loki",
          "uid": "{{ loki_uid }}"
        },
{% if cfg.default is defined %}
        "current": {
          "text": [
            "{{ cfg.default }}"
          ],
          "value": [
            "{{ cfg.default }}"
          ]
        },
{% endif %}
        "includeAll": true,
        "multi": true,
        "query": "label_values({job=\"{{ promtail_logs.nginx_access.name }}\"}, {{ label }})"
      }{% if not loop.last %},
{% endif %}
{% endfor %}

    ]
  },
  "title": "Loki: Nginx Logs & Monitoring",
  "version": 1
}