{%- set labels = [] -%}
{%- for label in vpn_labels -%}
  {%- set _ = labels.append(label) -%}
{%- endfor -%}
{%- for label in vpn_watcher_geoip_labels | dict2items -%}
  {%- set _ = labels.append(label.key) -%}
{%- endfor -%}
{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
{% for key, panel in vpn_dashboard_panels.items() %}
    {
      "type": "{{ panel.type }}",
      "title": "{{ panel.title }}",
      "targets": [
        {
          "expr": {{ panel.expr | to_json }},
{% if panel.label is defined %}
          "legendFormat": "
  {%- if panel.label is string -%}
    {% raw %}{{ {% endraw %}{{ panel.label }} }}
  {%- else -%}
    {%- for panellabel in panel.label -%}
      {%- if loop.first -%}
      {%- elif loop.last -%}
        {{ ': ' }}
      {%- else -%}
        {{ ' ' }}
      {%- endif -%}
    {% raw %}{{ {% endraw %}{{ panellabel }} }}
    {%- endfor -%}
  {%- endif -%}",
{% endif %}
          "refId": "{{ loop.index }}"
        }
      ],
{% if panel.type == "logs" %}
      "options": {
        "fontSize": "small",
        "showControls": true{% if panel.json is defined %},
        "wrapLogMessage": true,
        "prettifyLogMessage": true,
        "enableLogDetails": true,
        "showLabels": false,
        "showTime": true,
        "syntaxHighlighting": true
{% else %}

{% endif %}
      },
{% elif panel.type == "timeseries" %}
      "options": {
        "legend": {
          "displayMode": "table",
          "placement": "right"
        }
      },
      "fieldConfig": {
        "defaults": {
          "custom": {
            "drawStyle": "line",
            "lineWidth": 3,
            "fillOpacity": 15
          },
          "stacking": {
            "mode": "none"
          }
        }
      },
{% endif %}
{% set panelHeight = 12 %}
      "gridPos": {
{% if key == 'logs' %}
        "h": {{ panelHeight }},
        "w": 24,
        "x": 0,
        "y": 0{% else %}
        "h": 8,
        "w": 12,
        "x": {% if loop.index0 % 2 != 0 %}0{% else %}12{% endif %},
        "y": {%- if loop.index0 % 2 != 0 -%}
          {{ panelHeight + ((loop.index0 - 1) / 2 * panelHeight) | int }}
        {%- else -%}
          {{ panelHeight + ((loop.index0 - 2) / 2 * panelHeight) | int }}
        {%- endif -%}
{% endif %}

      }
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "refresh": "{{ refresh_time.long }}",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "loki",
    "telegram",
    "wireguard",
    "logstatistics",
    "logs"
  ],
  "templating": {
    "list": [
{% for label in labels %}
      {
        "name": "{{ label }}",
        "type": "query",
        "datasource": {
          "type": "loki",
          "uid": "{{ loki_uid }}"
        },
        "includeAll": true,
        "allValue": ".+",
        "multi": true,
        "query": "label_values({job=\"{{ promtail_logs.wireguard.name }}\"}, {{ label }})"
      }{% if not loop.last %},
{% endif %}
{% endfor %}

    ]
  },
  "time": {
    "from": "now-{{ watcher_dashboard.showtime }}",
    "to": "now"
  },
  "timezone": "browser",
  "title": "Loki: {{ promtail_logs.wireguard.name }}",
  "version": 1
}