{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
    {
      "type": "logs",
      "title": "All Logs",
      "targets": [
        {
          "expr": "{job=~\".+\"}",
          "refId": "A"
        }
      ],
      "gridPos": {
        "h": 32,
        "w": 24,
        "x": 0,
        "y": 0
      }
    }
  ],
  "schemaVersion": 39,
  "style": "dark",
  "tags": ["loki"],
  "templating": {
    "list": []
  },
  "title": "Loki logs: overview",
  "version": 1
}