{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
    {
      "type": "logs",
      "title": "{{ promtail_logs.fail2ban_logs.path }}",
      "targets": [
        {
          "expr": "{job=\"{{ promtail_logs.fail2ban_logs.name }}\", {{ f2b_logfilters }}}",
          "refId": "mainlog"
        }
      ],
      "options": {
        "fontSize": "small",
        "showControls": true
      },
{% set panelHeight = 6 %}
{% set loopPanelHeight = 8 %}
      "gridPos": {
        "h": {{ panelHeight }},
        "w": 24,
        "x": 0,
        "y": 0
      }
    },
{% for key, panel in f2b_dashboard.items() %}
    {
      "type": "{{ panel.type }}",
      "title": "{{ panel.title }}",
      "targets": [
        {
          "expr": {{ panel.expr | to_json }},
{% if panel.label is defined %}
          "legendFormat": "{% raw %}{{ {% endraw %}{{ panel.label }} }}",
{% endif %}
          "refId": "{{ loop.index }}"
        }
      ],
{% if panel.type == "logs" %}
      "options": {
        "fontSize": "small",
        "showControls": true{% if panel.json is defined %},
        "wrapLogMessage": true,
        "prettifyLogMessage": true,
        "enableLogDetails": true,
        "showLabels": false,
        "showTime": true,
        "syntaxHighlighting": true
{% endif %}
      },
{% elif panel.type == "timeseries" %}
      "fieldConfig": {
        "defaults": {
          "custom": {
            "drawStyle": "line",
            "lineWidth": 3,
            "fillOpacity": 15
          },
          "stacking": {
            "mode": "none"
          }
        }
      },
{% elif panel.type == "barchart" %}
      "options": {
        "barWidth": 1,
        "groupWidth": 1,
        "fullHighlight": false,
        "xTickLabelSpacing": 100
      },
{% endif %}
      "gridPos": {
        "h": {{ loopPanelHeight }},
        "w": 24,
        "x": 0,
        "y": {{ panelHeight + (loop.index0 * loopPanelHeight) }}
      }
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "refresh": "{{ refresh_time.long }}",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "loki",
    "fail2ban",
    "logs",
    "logstatistics"
  ],
  "templating": {
    "list": [
{% for label in f2b_labels %}
      {
        "name": "{{ label }}",
        "type": "query",
        "datasource": {
          "type": "loki",
          "uid": "{{ loki_uid }}"
        },
        "includeAll": true,
        "allValue": ".+",
        "multi": true,
        "query": "label_values({job=\"{{ promtail_logs.fail2ban_actions.name }}\"}, {{ label }})"
      }{% if not loop.last %},
{% endif %}
{% endfor %}

    ]
  },
  "time": {
    "from": "now-{{ f2b_dashboard_meta.showtime }}",
    "to": "now"
  },
  "timezone": "browser",
  "title": "Loki: Fail2Ban Actions",
  "uid": "{{ f2b_dashboard_meta.uid }}",
  "version": 1
}