{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
    {
      "type": "logs",
      "title": "System Journal",
      "targets": [
        {
          "expr": "{job=\"systemd\"}",
          "refId": "1"
        }
      ],
      "options": {
        "fontSize": "small",
        "showControls": true,
        "showTime": true
      },
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": 0
      }
    },
{% for unit in promtail_systemd %}
    {
      "type": "logs",
      "title": "{{ unit }}",
      "targets": [
        {
          "expr": "{job=\"systemd\", unit=\"{{ unit }}.service\"}",
          "refId": "{{ 1 + loop.index }}"
        }
      ],
      "options": {
        "fontSize": "small",
        "showControls": true,
        "showTime": true
      },
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": {{ 8 + (loop.index0 * 8) }}
      }
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "refresh": "{{ refresh_time.quick }}",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "loki",
    "journalctl",
    "logs"
  ],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-{{ showtime.long }}",
    "to": "now"
  },
  "timezone": "browser",
  "title": "Loki: Systemd Journal Logs",
  "version": 1
}