{% import "macros/mihomo-query.json.j2" as query %}
{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
{% for panel, value in mihomo_dashboard_link.panel_id.items() %}
    {
      "type": "timeseries",
      "title": "{% if panel == 'normal' %}Mihomo proxy health{% elif panel == 'relative' %}Mihomo proxy health in percents{% endif %}",
      "description": "{% if panel == 'normal' %}Count of successful and failed health checks of proxy nodes{% elif panel == 'relative' %}Relation of successful and failed health checks of proxy nodes{% endif %}",
      "targets": [
{% if panel == 'normal' %}{% for metric, value in mihomo_metrics.items() %}
        {{ query.mihomo_panel_query(metric, value, docker.mihomo, mihomo_alerts.seek_period) | indent(8) }}{% if not loop.last %},
{% endif %}
{% endfor %}{% else %}{% for metric, value in mihomo_metrics.items() if metric != 'proxy_healthcheck_latency' %}
        {{ query.mihomo_panel_query(metric, value, docker.mihomo, mihomo_alerts.seek_period) | indent(8) }}{% if not loop.last %},
{% endif %}
{% endfor %}{% endif %}

      ],
      "fieldConfig": {
        "defaults": {
          "custom": {
            "drawStyle": "line",
            "fillOpacity": {% if panel == 'normal' %}50{% elif panel == 'relative' %}100{% endif %},
            "gradientMode": "{% if panel == 'normal' %}hue{% elif panel == 'relative' %}none{% endif %}",
            "lineWidth": 3,
            "stacking": {
              "mode": "{% if panel == 'normal' %}none{% elif panel == 'relative' %}percent{% endif %}"
            }
          }
        },
        "overrides": [
{% for metric, value in mihomo_metrics.items() %}
          {
            "matcher": {
              "id": "byName",
              "options": "{{ value.draw.name }}"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "{{ value.draw.color }}",
                  "mode": "fixed"
                }
              }
            ]
          }{% if not loop.last %},
{% endif %}
{% endfor %}

        ]
      },
      "gridPos": {
        "h": 12,
        "w": 24,
        "x": 0,
        "y": {{ 0 + (loop.index0 * 8) }}
      },
      "id": {{ value }}
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "refresh": "30s",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "loki",
    "network",
    "mihomo"
  ],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-{{ showtime.long }}",
    "to": "now"
  },
  "timezone": "browser",
  "title": "Loki: Mihomo",
  "uid": "{{ mihomo_dashboard_link.uid }}",
  "version": 1
}