{
  "annotations": {
    "list": []
  },
  "editable": true,
  "panels": [
{% for key, value in docker.items() %}
    {
      "type": "logs",
      "title": "{{ value }} logs",
      "targets": [
        {
          "expr": "{container=\"/{{ value }}\"}",
          "refId": "{{ loop.index }}"
        }
      ],
{% if panel.type == "logs" %}
      "options": {
        "fontSize": "small",
        "showControls": true
      },
{% endif %}
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": {{ 0 + (loop.index0 * 8) }}
      }
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "schemaVersion": 39,
  "style": "dark",
  "tags": ["loki"],
  "templating": {
    "list": []
  },
  "title": "Loki: Docker Container Logs",
  "version": 1
}