{% import "macros/wg-override.json.j2" as override %}
{
  "annotations": {
    "list": []
  },
  "description": "Metrics for Wireguard VPN",
  "editable": true,
  "panels": [
{% for key, panel in wg_dashboard_panels.items() %}
    {
      "type": "{{ panel.type }}",
      "title": "{{ panel.title }}",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "{{ prometheus_uid }}"
          },
          "expr": {{ panel.expr | to_json }},
          "legendFormat": "{% raw %}{{device}}: {{allowed_ips}}{% endraw %}",
          "refId": "{{ loop.index }}"
        }
      ],
{% if panel.type == "barchart" %}
      "options": {
        "barWidth": 1,
        "groupWidth": 1,
        "fullHighlight": false,
        "xTickLabelSpacing": 100
      },
{% if panel.override is defined %}
      "fieldConfig": {
        {{ override.wg_panel_overrides(panel.override) | indent(8) }}
      },{% endif %}
{% elif panel.type == "heatmap" %}
      "options": {
        "calculate": false
      },
{% if panel.override is defined %}
      "fieldConfig": {
        {{ override.wg_panel_overrides(panel.override) | indent(8) }}
      },{% endif %}
{% elif panel.type == "timeseries" %}
      "fieldConfig": {
        "defaults": {
          "custom": {
            "drawStyle": "line",
            "lineWidth": 2,
            "fillOpacity": 15
          },
          "stacking": {
            "mode": "none"
          }
        }{% if panel.override is defined %},
        {{ override.wg_panel_overrides(panel.override) | indent(8) }}
{% endif %}
      },
{% endif %}
      "gridPos": {
{% set panelHeight = 8 %}
{% if key == 'handshakes' %}
        "h": {{ panelHeight }},
        "w": 24,
        "x": 0,
        "y": 0
{% else %}
        "h": {{ panelHeight }},
        "w": 12,
        "x": {% if loop.index0 % 2 != 0 %}0{% else %}12{% endif %},
        "y": {% if loop.index0 % 2 != 0 %}
{{- panelHeight + ((loop.index0 - 1) / 2 * panelHeight) | int -}}
{% else %}
{{- panelHeight + ((loop.index0 - 2) / 2 * panelHeight) | int -}}
{% endif %}
{% endif %}

      }
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "refresh": "{{ refresh_time.quick }}",
  "schemaVersion": 39,
  "style": "dark",
  "tags": [
    "prometheus",
    "wireguard",
    "network",
    "17251"
  ],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-{{ showtime.longer }}",
    "to": "now"
  },
  "timezone": "browser",
  "title": "Prometheus: Wireguard",
  "uid": "CJRCJWNVk",
  "version": 7,
  "gnetId": 17251
}