#!/bin/bash
execdate=${{ customlog_datefile }}
logfile="{{ musictools }}/log/rsynclog_$execdate.log"
if ping -c1 {{ wireguard_devices.phone.ip }}; then
#update: to skip newer files on receiver to be replaced
rsync \
  --dry-run \
  --stats \
  --itemize-changes \
  --log-file="$logfile" \
  --archive \
  --update \
  --delete \
  --mkpath \
{% for pattern in excludepatterns %}
  --filter='exclude {{ pattern }}' \
{% endfor %}
  /mnt/d/Music/ \
  redmi:{{ default_termux_path }}Music/
fi

grep -vP '\.(f|d)\.+t?p\.+' "$logfile" > "$logfile.tmp"
mv "$logfile.tmp" > "$logfile"

#grep -P '(<f\++|cd\++)' "$logfile" #created
#grep -P '(<f\.stp\.+)' "$logfile" #modified
#grep -P '(\*deleting)' "$logfile"