[Unit]
Description=Send Telegram notification on boot
After=network-online.target docker.service
{# Wants=network-online.target #}
{# Requires=docker.service #}
Requires=network-online.target docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '{{ ping_retry_command }} {{ telegram_script }} "🟢 nuc-server booted" status "$0"'

[Install]
WantedBy=multi-user.target
