# https://github.com/0x90d/videoduplicatefinder/blob/master/docker-compose.yml
services:
  vdf:
    image: ghcr.io/0x90d/vdf-web:latest
    container_name: {{ docker.vdf.name }}
    restart: unless-stopped
    ports:
      - "{{ docker.vdf.port.exposed }}:{{ docker.vdf.port.internal }}"
    environment:
      - VDF_WEB_AUTH=false
    volumes:
      - "{{ vdf_dir }}/vdf-db:/root/.config/VDF"
      - "{{ vdf_dir }}/vdf-state:/root/.local/state/VDF"
{% for path in vault_vdf_volumes %}
      - {{ path }}
{% endfor %}
