[Interface]
PrivateKey = {{ vault_wireguard_private_key }}
Address = {{ wireguard_server_ip }}/24
ListenPort = {{ wireguard_port }}
MTU = {{ wireguard_mtu }}

{% for device, data in wireguard_devices.items() %}
# {{ data.name }}
[Peer]
PublicKey = {{ data.public_key }}
AllowedIPs = {{ data.ip }}/32

{% endfor %}
