[Interface]
PrivateKey = {{ vault_wireguard_private_key }}
Address = {{ wireguard_server_ip }}/24
ListenPort = {{ wireguard_port }}

{% for peer in wireguard_peers %}
# {{ wireguard_devices[peer.device].name }}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ wireguard_devices[peer.device].ip }}/32

{% endfor %}
