global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "node"
    static_configs:
      - targets:
          #- "host.docker.internal:{{ node_exporter_port }}"
          #- "{{ docker.node_exporter }}:{{ node_exporter_port }}" #if node_exporter uses monitoring docker network
          - "{{ home_ip }}:{{ node_exporter_port }}"
        labels:
          instance: "{{ inventory_hostname }}"
