#https://docs.wgdashboard.dev/install/Docker.html
services:
  wgdashboard:
    image: ghcr.io/wgdashboard/wgdashboard:latest
    restart: unless-stopped
    container_name: {{ docker.wireguard_dashboard.name }}
    ports:
      - {{ docker.wireguard_dashboard.port }}:{{ docker.wireguard_dashboard.port }}/tcp
      - {{ local_port.wireguard }}:{{ local_port.wireguard }}/udp
    volumes:
      - /etc/wireguard:/etc/wireguard
    cap_add:
      - NET_ADMIN
    network_mode: host
