networks:
  monitoring:
    external: true

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: {{ docker.prometheus }}
    restart: unless-stopped
    user: "{{ prometheus_user }}:{{ prometheus_user }}"
    volumes:
      - {{ prometheus_config_dir }}/prometheus.yml:{{ prometheus_container_config_dir }}/prometheus.yml
      - {{ prometheus_data_dir }}:{{ prometheus_container_data_dir }}
    ports:
      - "{{ prometheus_port }}:{{ const_prometheus_port }}"
    command:
      - '--config.file={{ prometheus_container_config_dir }}/prometheus.yml'
      - '--web.external-url=https://prometheus.{{ domain }}'
    networks:
      - monitoring
