global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "node"
    static_configs:
      - targets:
          - "{{ docker.node_exporter }}:{{ node_exporter_port }}"
        labels:
          instance: "{{ inventory_hostname }}"
  - job_name: "wireguard"
    static_configs:
      - targets:
          - "{{ server_lan_ip }}:{{ wireguard_exporter_port }}"
  - job_name: "fail2ban"
    static_configs:
      - targets:
          - "{{ docker.fail2ban_exporter }}:{{ fail2ban_exporter_port }}"
        labels:
          instance: "{{ inventory_hostname }}"
