global:
  scrape_interval: 15s

scrape_configs:
{% for key, job in prometheus_scrape_configs.items() %}
  - job_name: "{{ key }}"
    static_configs:
      - targets:
          - "{{ job.target_src }}:{{ job.target_port }}"
{% if job.labels is defined and job.labels == 'instance' %}
        labels:
          instance: "{{ inventory_hostname }}"
{% endif %}
{% endfor %}
{% for key, job in prometheus_scrape_configs_extended.items() %}
  - job_name: "{{ key }}"
    metrics_path: {{ job.path }}
    params:
{% for param, value in job.params.items() %}
      {{ param }}: [{{ value }}]
{% endfor %}
    static_configs:
      - targets:
{% for target in job.targets %}
          - {{ target }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ job.replacement.src }}:{{ job.replacement.port }}
{% endfor %}
