global:
  scrape_interval: 15s

scrape_configs:
{% for key, job in prometheus_scrape_configs.items() %}
  - job_name: "{{ key }}"
    static_configs:
      - targets:
          - "{{ job.target_src }}:{{ job.target_port }}"
{% if job.labels is defined and job.labels == 'instance' %}
        labels:
          instance: "{{ inventory_hostname }}"
{% endif %}
{% endfor %}
  - job_name: "snmp"
    metrics_path: /snmp
    params:
      module: [synology]
      auth: [public_v2]
    static_configs:
      - targets:
          - {{ lan_ip.diskstation }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ lan_ip.server }}:{{ snmp_exporter_port }}

  - job_name: "blackbox"
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
          - https://api.telegram.org
          - https://www.gstatic.com/generate_204
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ docker.metric_exporters.blackbox }}:{{ blackbox_port }}
